.status-menu-container .status-menu .status-button,
.status-menu-container .status-menu .status-button:after{
	background-image: url(../img/v3.2/KeyMal.png);
}

.status-menu-container.fixed {
	position: absolute;
    display: none !important;
    top: 0;
}.status-menu-container {
	margin-top: -41px;
    width: 1000px;
    height: 39px;
    background-color: transparent;
    background-position: 0px -389px;
    background-size: cover;
    z-index: 2;
    border-top: 1px solid transparent;
}
.status-menu-container .status-menu {
    display: table;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 0;
}

.status-menu-container .status-menu .status-button {
    position: relative;
    display: table-cell;
    bottom: 31px;
    width: 100px;
    height: 100px;
    padding: 0;
    font-size: 0;
    color: transparent;
    border-radius: 50%;
    background-repeat: no-repeat;
    z-index: 10;
}

.status-menu-container .status-menu .status-button:hover {
	-webkit-animation: Shake .5s ease-in;
	animation: Shake .5s ease-in;
}

.status-menu-container .status-menu .status-button.on { 
	pointer-events: none;
	color: transparent;
	font-weight: normal;
}

.status-menu-container .status-menu .status-button.all_anime, .status-menu .status-button.all_anime:hover  { left:5px; background-position: 0 0; }
.status-menu-container .status-menu .status-button.watching, .status-menu .status-button.watching:hover  { left:10px; background-position: 0 -102px; }
.status-menu-container .status-menu .status-button.reading, .status-menu .status-button.reading:hover  { left:10px; background-position: 0  -714px; }
.status-menu-container .status-menu .status-button.completed, .status-menu .status-button.completed:hover  { left:15px; background-position: 0  -204px; }
.status-menu-container .status-menu .status-button.onhold, .status-menu .status-button.onhold:hover  { left:20px; background-position: 0 -306px; }
.status-menu-container .status-menu .status-button.dropped, .status-menu .status-button.dropped:hover  { left:25px; background-position: 0 -408px; }
.status-menu-container .status-menu .status-button.plantowatch, .status-menu .status-button.plantowatch:hover  { left:30px; background-position: 0 -510px; }
.status-menu-container .status-menu .status-button.plantoread, .status-menu .status-button.plantoread:hover  { left:30px; background-position: 0 -816px; }

.status-menu-container .status-menu .status-button:after {
	pointer-events: all;
    opacity: 0;
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    z-index: 10;
}

.status-menu-container .status-menu .status-button.on:after, .status-menu .status-button:hover:after { opacity: 1; }

.status-menu-container .status-menu .status-button.all_anime:after, .status-menu-container .status-menu .status-button.all_anime.on:after, .status-menu .status-button.all_anime:hover:after { background-position: -110px 0; }
.status-menu-container .status-menu .status-button.watching:after, .status-menu-container .status-menu .status-button.watching.on:after, .status-menu .status-button.watching:hover:after  { background-position: -110px -102px; }
.status-menu-container .status-menu .status-button.reading:after, .status-menu-container .status-menu .status-button.reading.on:after, .status-menu .status-button.reading:hover:after  { background-position: -110px -714px; }
.status-menu-container .status-menu .status-button.completed:after, .status-menu-container .status-menu .status-button.completed.on:after, .status-menu .status-button.completed:hover:after  { background-position: -110px -204px; }
.status-menu-container .status-menu .status-button.onhold:after, .status-menu-container .status-menu .status-button.onhold.on:after, .status-menu .status-button.onhold:hover:after  { background-position: -110px -306px; }
.status-menu-container .status-menu .status-button.dropped:after, .status-menu-container .status-menu .status-button.dropped.on:after, .status-menu .status-button.dropped:hover:after  { background-position: -110px -408px; }
.status-menu-container .status-menu .status-button.plantowatch:after, .status-menu-container .status-menu .status-button.plantowatch.on:after, .status-menu .status-button.plantowatch:hover:after  { background-position: -110px -510px; }
.status-menu-container .status-menu .status-button.plantoread:after, .status-menu-container .status-menu .status-button.plantoread.on:after, .status-menu .status-button.plantoread:hover:after  { background-position: -110px -816px; }