@font-face{
	font-family: 'BlenderProBook';
	src: url(BlenderPro-Book.woff2) format('woff2'),url(BlenderPro-Book.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'BlenderProBold';
	src: url(BlenderPro-Bold.woff2) format('woff2'),url(BlenderPro-Bold.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}