/* Character Setting | Atago Hallmarks of Winter */
:root{
		--body-bg: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/Hallmarks-of-Winter/Resources/AtagoNewYearBG.jpg");
		/* Menu Character */
		--char-img: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/Hallmarks-of-Winter/Resources/AtagoNewYear.png");
		--char-display: block;
		/* Sort Menu */
		--Sort-img: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/Hallmarks-of-Winter/Resources/AtagoNewYearChibi.png");
		--Sort-display: block;
}