/* Character Setting | Atago School Traumerei */
:root{
		--body-bg: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/School-Traumerei/Resources/AtagoSchoolBG.jpg");
		/* Menu Character */
		--char-img: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/School-Traumerei/Resources/AtagoSchool.png");
		--char-display: block;
		/* Sort Menu */
		--Sort-img: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/School-Traumerei/Resources/AtagoSchoolChibi.png");
		--Sort-display: block;
}