/*============== Fonts  ==============*/

@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Amaranth);
@import url(https://fonts.googleapis.com/css?family=Rancho);

/*=========== Background ===========*/

body {
	background-image: url("./img/v3.2/bg_sea_day.jpg") !important;
}

body:before{
    content: " ";
    display: block;
    background: url("./img/v3.2/top_bgptn.png");
    min-width: 1100px;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: -1;
}

.list-unit .loading-space {
    height: 491px;
    width: 1000px;
    background-image: url("./img/v3.2/Murakumo_Bottom.png");
    background-color: transparent;
    background-size: contain;
	margin: 0px;
}

/*========= Image Container =========*/

.status-menu-container,
#cover-image-container:before,
.cover-block .image-container,
.list-unit .list-status-title{
	background-image: url("./img/v3.2/Mal-Shelter-KanColle.png") !important;
}

/*=========== Text Color ===========*/

.list-item .data.status.watching::after,
.list-item .data.status.reading::after,
.list-item .data.status.completed::after,
.list-item .data.status.onhold::after,
.list-item .data.status.dropped::after,
.list-item .data.status.plantowatch::after,
.list-item .data.status.plantoread::after,
.list-item .data.title .content-status, 
.list-item .data.title .rewatching, 
.list-item .data.title .rereading,
.list-item .data.score a::after,
.list-item .data.progress span, 
.list-item .data.chapter span,
.data.season a, .list-item .data.type,
.list-table .list-table-data .data.title .link,
.list-item .data.progress a, .list-item .data.chapter a,
.list-table .list-table-header:before,
.list-unit .list-status-title .stats a,
.list-item .data.title a, .list-unit::after,
.list-item .data.volume span,
span a[href*="&tag=Hentai"]:after,
a[href$="&tag=*"]:after{
	color: #6287ff !important;
}

/*========== Border Color ==========*/

.list-item:hover .list-table-data,
.list-item .data.title > a::after,
.list-item .data.score,
.list-item .data.progress, .list-item .data.chapter,
.list-table .list-table-data, .data.volume {
	border-color: #6287ff !important;
}

/*====== profile image & name ======*/

.cover-block::after {
	content: "";
    height: 120px !important;
    width: 120px! important;
	background-image: url("./img/v3.2/MurakumoJP.png");
    background-repeat: no-repeat;
	margin-left: 57px;
    margin-top: -50px;
	padding: 5px;
    position: absolute;
    display: block !important;
    z-index: 2 !important;
}

.cover-block::before {
	content: "MurakumoJP's Anime List";
    position: absolute;
    display: block !important;
    margin-left: 71px;
    bottom: 183px;
    width: 427px;
    color: #5272db;
    font-size: 36px !important;
    font-family: Microsoft PhagsPa Bold;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0 !important;
}

/* Category Menu */

.list-container .list-unit .list-table .list-item .list-table-data .data.image .link::after {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.status-menu-container .status-menu .status-button,
.status-menu-container .status-menu .status-button:after{
	background-image: url(./img/v3.2/KeyMal.png);
}

.status-menu-container.fixed {
	position: absolute;
    display: none !important;
    top: 0;
}

.status-menu-container {
	margin-top: -41px;
    width: 1000px;
    height: 39px;
    background-color: transparent;
    background-position: 0px -389px;
    background-size: cover;
    z-index: 2;
    border-top: 1px solid transparent;
}

.status-menu-container .status-menu {
    display: table;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0px 0;
}

.status-menu-container .status-menu .status-button {
    position: relative;
    display: table-cell;
    bottom: 31px;
    width: 100px;
    height: 100px;
    padding: 0;
    font-size: 0;
    color: transparent;
    border-radius: 50%;
    background-repeat: no-repeat;
    z-index: 10;
}

.status-menu-container .status-menu .status-button:hover {
	-webkit-animation: Shake .5s ease-in;
	animation: Shake .5s ease-in;
}

.status-menu-container .status-menu .status-button.on { 
	pointer-events: none;
	color: transparent;
	font-weight: normal;
}

.status-menu-container .status-menu .status-button.all_anime, .status-menu .status-button.all_anime:hover  { left:5px; background-position: 0 0; }
.status-menu-container .status-menu .status-button.watching, .status-menu .status-button.watching:hover  { left:10px; background-position: 0 -102px; }
.status-menu-container .status-menu .status-button.reading, .status-menu .status-button.reading:hover  { left:10px; background-position: 0  -714px; }
.status-menu-container .status-menu .status-button.completed, .status-menu .status-button.completed:hover  { left:15px; background-position: 0  -204px; }
.status-menu-container .status-menu .status-button.onhold, .status-menu .status-button.onhold:hover  { left:20px; background-position: 0 -306px; }
.status-menu-container .status-menu .status-button.dropped, .status-menu .status-button.dropped:hover  { left:25px; background-position: 0 -408px; }
.status-menu-container .status-menu .status-button.plantowatch, .status-menu .status-button.plantowatch:hover  { left:30px; background-position: 0 -510px; }
.status-menu-container .status-menu .status-button.plantoread, .status-menu .status-button.plantoread:hover  { left:30px; background-position: 0 -816px; }

.status-menu-container .status-menu .status-button:after {
	pointer-events: all;
    opacity: 0;
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
    z-index: 10;
}

.status-menu-container .status-menu .status-button.on:after, .status-menu .status-button:hover:after { opacity: 1; }

.status-menu-container .status-menu .status-button.all_anime:after, .status-menu-container .status-menu .status-button.all_anime.on:after, .status-menu .status-button.all_anime:hover:after { background-position: -110px 0; }
.status-menu-container .status-menu .status-button.watching:after, .status-menu-container .status-menu .status-button.watching.on:after, .status-menu .status-button.watching:hover:after  { background-position: -110px -102px; }
.status-menu-container .status-menu .status-button.reading:after, .status-menu-container .status-menu .status-button.reading.on:after, .status-menu .status-button.reading:hover:after  { background-position: -110px -714px; }
.status-menu-container .status-menu .status-button.completed:after, .status-menu-container .status-menu .status-button.completed.on:after, .status-menu .status-button.completed:hover:after  { background-position: -110px -204px; }
.status-menu-container .status-menu .status-button.onhold:after, .status-menu-container .status-menu .status-button.onhold.on:after, .status-menu .status-button.onhold:hover:after  { background-position: -110px -306px; }
.status-menu-container .status-menu .status-button.dropped:after, .status-menu-container .status-menu .status-button.dropped.on:after, .status-menu .status-button.dropped:hover:after  { background-position: -110px -408px; }
.status-menu-container .status-menu .status-button.plantowatch:after, .status-menu-container .status-menu .status-button.plantowatch.on:after, .status-menu .status-button.plantowatch:hover:after  { background-position: -110px -510px; }
.status-menu-container .status-menu .status-button.plantoread:after, .status-menu-container .status-menu .status-button.plantoread.on:after, .status-menu .status-button.plantoread:hover:after  { background-position: -110px -816px; }

/*  List Cover */

.list-item, .list-item .list-table-data, .list-item .list-table-data .data.image, .list-item .list-table-data .data.image .image {
	width: 182px;
	height: 256px;
	border: none;
}

.list-table .list-table-data .data.number, .list-table .list-table-data .data.status, .list-table .list-table-data .data.image ~ td {
	position: absolute;
}

.list-table > tbody:nth-of-type(2n+1) {
	background-color: transparent !important;
}

.list-table > tbody:nth-of-type(2n) {
	background-color: transparent !important;
}

.list-item {
	margin: 10px;
	position: relative;
	float: left;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-o-perspective: 600px;
	-ms-perspective: 600px;
	perspective: 600px;
	z-index: 1;
	-webkit-transform: translateZ(0px);
	-moz-transform: translateZ(0px);
	-o-transform: translateZ(0px);
	-ms-transform: translateZ(0px);
	transform: translateZ(0px);	
	transition: all 0.4s ease-in-out;
}

.list-item:hover {
	-webkit-transform: translateZ(1px);
	-moz-transform: translateZ(1px);
	-o-transform: translateZ(1px);
	-ms-transform: translateZ(1px);
	transform: translateZ(1px);	
	z-index: 100;
}

.list-item .list-table-data {
	display: block;
	-webkit-transform: rotateY(180deg) rotateX(0deg) scale(1.0);
	-moz-transform: rotateY(180deg) rotateX(0deg) scale(0.8);
	-o-transform: rotateY(180deg) rotateX(0deg) scale(0.8);
	-ms-transform: rotateY(180deg) rotateX(0deg) scale(0.8);
	transform: rotateY(180deg) rotateX(0deg) scale(1.0);
	background-color: transparent;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
	-webkit-transition: 0.4s ease-in-out;	
	-moz-transition: transform 0.4s ease-in-out, background-color 0.2s 0.1s ease-in-out;	
	-o-transition: transform 0.4s ease-in-out, background-color 0.2s 0.1s ease-in-out;	
	transition: transform 0.4s ease-in-out, background-color 0.2s 0.1s ease-in-out;	
}

.list-item:hover .list-table-data {
	-webkit-transform: rotateY(0deg) rotateX(0deg) scale(1);
	-moz-transform: rotateY(0deg) rotateX(0deg) scale(1);
	-o-transform: rotateY(0deg) rotateX(0deg) scale(1);
	-ms-transform: rotateY(0deg) rotateX(0deg) scale(1);
	transform: rotateY(0deg) rotateX(0deg) scale(1);
    background-color: #34447d;
    border: 1px dashed #4572db;
}

.list-table .list-table-data .data {
	padding: 0px;
}

.list-item .data {
	opacity: 0;
	transition: opacity 0.2s 0.1s;
}

.list-item:hover .data {
	opacity: 1;
}

.list-item .data.image {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	opacity: 1;
}

.list-item:hover .data.image {
	opacity: 0.15;
}

.list-item .data.status {
	left: 0px;
	top: 0px;
	background-color: transparent !important;
}

.list-item .data.status.watching::after {
	content: "Watching...";
	display: block;
	font-size: 14px;
	position: absolute;
	top: 197.5px;
	left: 0px;
	border-left: 3px solid #2db039;
	padding-left: 11px;
	white-space: nowrap;
}

.list-item .data.status.reading::after {
	content: "Reading...";
	display: block;
	font-size: 14px;
	position: absolute;
	top: 197.5px;
	left: 0px;
	border-left: 3px solid #2db039;
	padding-left: 11px;
	white-space: nowrap;
}

.list-item .data.status.completed::after {
	content: "Completed!";
	display: block;
	font-size: 14px;
	position: absolute;
	top: 197.5px;
	left: 0px;
	border-left: 3px solid #26448f;
	padding-left: 11px;
	white-space: nowrap;	
}

.list-item .data.status.onhold::after {
	content: "On hold...";
	display: block;
	font-size: 14px;
	position: absolute;
	top: 197.5px;
	left: 0px;
	border-left: 3px solid #f1c83e;
	padding-left: 11px;
	white-space: nowrap;
}

.list-item .data.status.dropped::after {
	content: "Dropped.";
	display: block;
	font-size: 14px;
	position: absolute;
	top: 197.5px;
	left: 0px;
	border-left: 3px solid #a12f31;
	padding-left: 11px;
	white-space: nowrap;
}

.list-item .data.status.plantowatch::after, .list-item .data.status.plantoread::after {
	content: "Planning to!";
	display: block;
	font-size: 14px;
	position: absolute;
	top: 197.5px;
	left: 0px;
	border-left: 3px solid #c3c3c3;
	padding-left: 11px;
	white-space: nowrap;
}

.all_anime .list-item .data.status.plantowatch ~ .data.image .image, .all_anime .list-item .data.status.plantoread ~ .data.image .image, .all_anime .list-item .data.status.plantowatch ~ .data.image a, .all_anime .list-item .data.status.plantoread ~ .data.image a {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.list-item .data.number {
	border-bottom: 0px solid transparent;
	left: 5px;
	bottom: -8px;
	font-size: 9px;
	font-weight: bold;
	padding: 4px 6px;
}

.list-item .data.title {
	left: 1px;
	top: 0px;
	width: 90%;
	padding: 8px !important;
	border-bottom: 0px solid transparent;
}

.list-item .data.title > a::after {
	content: "";
    display: block;
    width: 140px;
    height: 1px;
    border-bottom: 1px dashed;
    position: absolute;
    top: 23px;
    left: 10px;
}

.list-item .data.title a {
	color: rgba(82, 114, 219, 0.5);
	border-bottom: 0px solid transparent !important;
}

.list-item .data.title a:hover {
	color: rgba(0,0,0,1);
}

.list-table .list-table-data .data.title .link {
	font-size: 17px !important;
    text-decoration: none !important;
    font-family: 'Rancho', sans-serif;
    font-weight: 100 !important;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    max-width: 160px;
    left: 10px;
    z-index: 10;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.list-table .list-table-data .data.title .link:hover {
    color: #fff !important;
    transition: 0.2s ease-in-out;
}

.list-item .data.title .content-status, .list-item .data.title .rewatching, .list-item .data.title .rereading {
    position: absolute;
    left: -1px;
    top: 261px;
    z-index: 1;
    width: 164px;
    height: 20px;
    text-align: center;
    font-size: 11px !important;
    padding: 1px 8px 3px 8px;
}

.list-item .data.title .content-status::before, .list-item .data.title .rewatching::before, .list-item .data.title .rereading::before {
    width: 110px;
    height: 24px;
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 36px;
    z-index: -1;
    background-color: #34447d;
    border: 1px solid;
    border-style: dashed;
    border-bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-item .data.title .rewatching {
	left: 32px;
}

.list-table .list-table-data .data.title .add-edit-more {
	color: transparent;
}

span.more {
    display: none !important;
}

.list-table .list-table-data .data.title .add-edit-more .add {
	position: absolute;
	top: 260px;
	right: 2px;
	padding: 4px;
	z-index: 25;
}

.list-table .list-table-data .data.title .add-edit-more .edit {
	position: absolute;
    top: 260px;
    right: 2px;
    padding: 4px;
    z-index: 1;
}

.list-table .list-table-data .data.title .add-edit-more .edit a {
	font-size: 10px;
	font-weight: bold;
}

.list-table .list-table-data .data.title .add-edit-more .more {
	top: 9px;
	left: -21px;
	padding: 2px;
	width: 50px;
}

.list-table .list-table-data .data.title .add-edit-more .more a {
	color: transparent !important;
	white-space: nowrap;
	font-size: 11px;
	padding: 2px 0px;
}

.list-table .list-table-data .data.title .add-edit-more .more a:hover::after {
	color: rgba(0,0,0,1);
}

.list-item .more-info {
	position: absolute;
	top: 98px;
	left: 10px;
	width: 160px;
	height: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	border-bottom: 0px solid transparent;
	background-color: transparent;
	opacity: 0;
	-webkit-transform: rotateY(180deg) translateZ(1px) scale(0.8);
	-moz-transform: rotateY(180deg) translateZ(1px) scale(0.8);
	-o-transform: rotateY(180deg) translateZ(1px) scale(0.8);
	-ms-transform: rotateY(180deg) translateZ(1px) scale(0.8);
	transform: rotateY(180deg) translateZ(1px) scale(0.8);	
	transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.2s 0.2s;
}

.list-item .more-info[style="display: block;"], .list-item .more-info[style="display: table-row;"] {
	-webkit-animation: expand 0.15s forwards ease-in;
	-moz-animation: expand 0.15s forwards ease-in;
	animation: expand 0.15s forwards ease-in;
}

.list-item:hover .more-info {
	background-color: #EEE;
	-webkit-transform: rotateY(0deg) translateZ(1px);
	-moz-transform: rotateY(0deg) translateZ(1px);
	-o-transform: rotateY(0deg) translateZ(1px);
	-ms-transform: rotateY(0deg) translateZ(1px);
	transform: rotateY(0deg) translateZ(1px);
	opacity: 1;
}

.list-item .more-info a {
	color: rgba(0,0,0,0.5);
	font-weight: bold;
	border-bottom: 0px solid transparent !important;
}

.list-item .more-info a:hover {
	color: rgba(0,0,0,1);
}

.list-item .more-info td {
	line-height: 20px;
}

.list-item .data.score {
	border: 1px dashed !important;
    top: 125px;
    left: 14px;
    color: #FFF;
    font-size: 14px;
    width: 40px;
    height: 40px !important;
    border-radius: 20px;
    z-index: 2;
}

.list-item .data.score a {
	top: 10px;
    text-align: center;
    color: rgb(255, 215, 0);
    text-shadow: 0 0 10px rgb(255, 215, 0);
    font-size: 15px !important;
    position: relative;
}

.list-item .data.score a::after {
    content: "/ 10";
    display: block;
    position: absolute;
    top: 2px;
    left: 31px;
    text-shadow: none;
    font-size: 12px;
    font-weight: 300;
    white-space: nowrap;
}

.list-item .data.score a + select {
	position: relative;
	top: 8px;
}

.list-item .data.type {
	top: 195px;
	right: 15px;
	font-size: 14px;
}

.list-item .data.type::before {
	content: "[";
}

.list-item .data.type::after {
	content: "]";
}

.list-item .data.progress, .list-item .data.chapter {
	border: 1px dashed !important;
    border-radius: 20px 0 20px 0;
    top: 120px;
    right: 15px;
    width: 54px;
    height: 48px !important;
    font-size: 14px;
}

/*========== Manga ============*/

.data.volume {
    border: 1px dashed !important;
    border-radius: 20px 0 20px 0;
    top: 60px;
    right: 15px;
    width: 54px;
    height: 48px !important;
    font-size: 14px;
}

.list-item .data.volume span {
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: 12px;
}

.list-item .data.volume a {
    color: #c8aa83 !important;
    font-size: 11px;
    font-weight: bold;
}

/*=============================*/

.list-item .data.progress span, .list-item .data.chapter span {
    font-size: 11px;
    font-weight: bold;
    position: relative;
    top: 12px;
}

.list-item .data.progress a, .list-item .data.chapter a {
    font-size: 11px;
    font-weight: bold;
}

.list-item .data.progress span + span, .list-item .data.chapter span + span {
	color: #c8aa83;
    font-size: 11px;
    font-weight: bold;
}

.list-item .data.progress span input, .list-item .data.chapter span input {
	position: absolute;
	left: -10px;
	top: 0px;
}

.list-item .data.progress a.icon-add-episode, .list-item .data.chapter a.icon-add-chapter, a.icon-add-volume {
    position: absolute;
    top: 3.3px;
    left: 48.3px;
    opacity: 1;
    transition: opacity 0.15s ease-in-out;
    font-size: 12px;
}

.list-item .data.progress a.icon-add-episode:hover, .list-item .data.chapter a.icon-add-chapter:hover, .list-item .data.volume a.icon-add-volume:hover {
	opacity: 0.8;
}

.list-item .icon-watch, .list-item .icon-watch-pv {
	display: none;
}

/*=======================\ Copyright /==========================*/

.list-unit::after {
	background: #34447d;
    border-top: 1px dashed #5272db !important;
    content: "MyAnimeList.net is a property of MyAnimeList, LLC. ©2015 All Rights Reserved. | Source code layout by Takana no Hana / LukeLC | Modified by MurakumoJP";
    display: block !important;
    padding: 15px !important;
    text-align: center;
    color: #5272db;
}

/*===========================================================*/

td.data.image {
    background-image: url("./img/v3.2/no_cover.png"); /* УДАЛИТЬ */
}

#cover-image-container:before {
	content: " ";
    display: block;
    background-position: 323px 0;
    width: 310px;
    height: 89px;
    margin-left: 677px;
    margin-top: -89px;
    position: absolute;
}

.cover-block .image-container {
    display: table-cell;
    width: 1000px;
    height: 300px;
    padding-top: 0;
    background-position: 0 -89px;
}

.list-unit .list-status-title {
	position: relative;
    display: table-cell;
    background-position: 0 -428px;
    background-color: transparent;
    width: 1000px;
    height: 0px !important;
    bottom: 1px;
}

.data.image {border-radius: 35px 0 35px 0;}

.list-table-data {border-radius: 0 35px 0 35px;}

.data.number {display: none !important;}

.fa-plus-circle:before{
	background: #34447d;
    border-radius: 10px;
}

/*===========================================================*/

img.hover-info.image {display: none;}

.link.sort + a {display: none;} /* remove watch buttons */

.fa-search:before{color: #5272db;}

/*===========================================================*/

#search-box input[type="text"] {
	background-color: #34447d;
    border: 1px dashed #5272db;
    text-align: center;
    color: #6287ff;
}

/* Premiered */
.list-item .list-table-data .data.season {
	width: 170px !important;
    left: 5px;
    top: 35px;
    text-align: center !important;
    font-weight: bold;
    line-height: 23px;
    z-index: 24;
}

/**
 * General Styles
 */
 
 
td {
    line-height: 1.5em;
	height: 25px !important;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: rgb(255, 215, 0);
    text-decoration: none;
}

#footer-block {
    padding: 15px 0;
    background-color: #244291;
    color: #FFFFFF;
    font-family: Avenir, "lucida grande", tahoma, verdana, arial, sans-serif;
	display:none;
}

#copyright {
    font-size: 12px;
    color: #FFFFFF;
    padding-top: 3px;
    text-align: center;
}

/* Header */

.header a {
    font-weight: bold;
    color: #fff !important;
}
.header a:hover {
    text-decoration: underline;
}

.header {
    position: absolute;
    color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0 auto
	border: none;
	background: -webkit-linear-gradient(rgba(0,0,0,.4), transparent); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,.4), transparent); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,.4), transparent); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0,0,0,.4), transparent); /* Standard syntax */
	-moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
	z-index: 40;
}

.header .header-menu {
    position: absolute;
    top: 5px;
    right: 4px
}
.header .header-menu.other {
    top: 5px;
}



.header .header-menu .header-info {
    font-size: 10px;
    margin-top: 6px;
    margin-right: 15px;
    text-align: right;
}

.header .username {
    font-weight: bold;
}

.header .header-menu .list-menu {
    position: absolute;
    top: 25px;
    right: -4px;
    background-color: rgba(255,255,255,.8);
    display: none;
    border: none !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 10px;
    z-index: 1;
}

.header .header-menu .list-menu .icon-menu {
    display: block;
    width: 150px;
    height: 30px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.header .header-menu .list-menu .icon-menu:hover {
    background-color: rgba(0,0,0,.5);
}

.header .header-menu .list-menu .icon-menu svg.icon {
    position: absolute;
    fill: rgba(0,0,0,.5);
    left: 12px;
    top: 4px;
}

.header .header-menu .list-menu .icon-menu:hover svg.icon {
    fill: rgba(255,255,255,1) !important;
}

.header .header-menu .list-menu .icon-menu .text {
    position: absolute;
    left: 52px;
    top: 6px;
}

.header .header-menu .list-menu .icon-menu:hover .text {
	color:rgba(255,255,255,1) !important;
}

.header .header-menu .btn-menu {
	display: block;
    text-align: right;
	color: rgba(0,0,0,0.7) !important;
	font-size: 12px !important;
	text-shadow: 0 0 2px #000, 0 0 1px #000, 1px 1px 7px #000, 0 0 0 #000;
}

#header-menu-dropdown > a {
	color: rgba(0,0,0,.5) !important;
}


/* List Container */

.list-container {
    position: absolute;
    background-color: transparent !important;
    width: 1000px;
    left: 0;
    right: 0;
    margin: auto;
	margin-top:100px;
	border:none !important;
	margin-bottom:30px;
	box-shadow: 0 0 2px #34447d, 0 0 1px #34447d, 1px 1px 7px #34447d, 0 0 0 #34447d;
}

/*List Container - Cover Block */

.cover-block {
	position:relative;
    display: block;
    width: 1000px;
    margin: 0 auto;
	height:auto;
    text-align: center;
    vertical-align: middle;
	/*box-shadow: 0 0 2px #000, 0 0 1px #000, 1px 1px 7px #000, 0 0 0 #000;*/
	padding-bottom:40px;
	
}

.cover-block .image-container.hide {
    display: none;
}

.cover-block .image-container img {
    max-width: 1000px;
	height: auto;
}

/* cover image */

#cover-image{
  display: none;
  margin:auto;
  width:1000px !important;
  height:auto;
  background-color:transparent;
  background-size: cover !important;
  background-position: 50% 50%;
}

/* setting icon */

.cover-block .image-container .btn-list-setting {
    display: none;
}

.cover-block .image-container:hover .btn-list-setting {
    display: block;
    position: absolute;
    top: 20px;
    right: 28px;
    padding: 8px;
    border: rgba(255,255,255,0) 1px solid;
    font-size: 14px;
    color: #ffffff;
    font-family: 'Helvetica neue', Helvetica, "lucida grande", tahoma, verdana, arial, sans-serif;
}

.cover-block .image-container .btn-list-setting:hover {
	position: absolute;
    top: 20px;
    right: 28px;
    background-color: rgb(52, 68, 125);
    border: 1px solid #5272db;
    border-style: dashed;
    padding: 8px;
    -moz-box-shadow: 0 0 4px #000000;
    -webkit-box-shadow: 0 0 4px #34447d;
    -o-box-shadow: 0 0 4px #000000;
    -ms-box-shadow: 0 0 4px #000000;
    box-shadow: 0 0 4px #34447d;
    font-size: 14px;
    color: #5272db !important;
    text-shadow: #323232 1px 1px 1px;
}

.cover-block .image-container .btn-list-setting .fa-camera {
    font-size: 16px;
    -moz-text-shadow: #000000 1px 1px 3px;
    -webkit-text-shadow: #000000 1px 1px 3px;
    -o-text-shadow: #000000 1px 1px 3px;
    -ms-text-shadow: #000000 1px 1px 3px;
    text-shadow: #000000 1px 1px 3px;
    -ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#000000,offx=1,offy=1)";
}

.cover-block .image-container .btn-list-setting .icon-plus-circle {
    position: absolute;
    top: 4px;
    left: 18px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    -moz-box-shadow: -1px 1px 0px 0px #323232;
    -webkit-box-shadow: -1px 1px 0px 0px #323232;
    -o-box-shadow: -1px 1px 0px 0px #323232;
    -ms-box-shadow: -1px 1px 0px 0px #323232;
    box-shadow: -1px 1px 0px 0px #323232;
    font-size: 10px;
}

.cover-block .image-container .btn-list-setting .text {
  display: none;
}

.cover-block .image-container .btn-list-setting:hover .text {
  display: inline-block;;
  margin-left: 4px;
}

/*scroll bar*/

::-webkit-scrollbar
{height: 7px;
width: 7px;
background-color: #f5f5f5;}
::-webkit-scrollbar-thumb
{border: 2px solid #f5f5f5;
background-color: #9B9B9B;}

/* List Container - Status Menu - Search */

.status-menu-container .search-container {
    position: absolute;
    right: 5px;
	z-index:20;
}
.status-menu-container .search-container #search-button {
    display: inline-block;
    height: 22px;
    margin-top: 10px;
    color: #c8aa83;
    font-size: 1.6em;
    vertical-align: middle;
}

.status-menu-container .search-container #search-box {
    display: inline-block;
    width: 0;
    height: 22px;
    overflow: hidden;
    margin-top: 5px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    vertical-align: middle;
}

.status-menu-container .search-container #search-box.open {
    display: inline-block;
    width: 130px;
}

.status-menu-container .search-container #search-box input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* List Container - List Block */

.list-block {
    margin: 0;
	min-height:265px;
}

.list-unit {
    background-color: rgba(52, 68, 125, 0.4);
	margin: auto;
	width: 1000px;
	/*box-shadow: 0 0 2px #34447d, 0 0 1px #34447d, 1px 1px 7px #34447d, 0 0 0 #34447d;*/
}

/* List Container - List Status Title (with Stats) */

.list-unit .list-status-title .text {
    display: block;
	color: #5272db;
    width: 427px;
    height: 30px !important;
    font-family: Rancho;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    border: none;
    font-style: italic;
    background-color: transparent;
    margin-top: -189px !important;
    margin-bottom: 257px !important;
    margin-left: 71px;
	/*
	border-bottom: 1px dashed #5272db;
    border-top: 1px dashed #5272db;
	*/
}

.list-unit .list-status-title .stats a.filterd {
    text-shadow: 0px 0px 2px #FFF;
}

.list-unit .list-status-title .stats a:hover {
	background:transparent;
	padding:8px;
	-moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}


.list-unit .list-stats {
    border-top: 1px solid #5272db;
    background-color: rgba(97, 134, 255, 0.5);
    margin-top: -433px !important;
    left: 6px;
    border-radius: 0px 0px 10px 10px;
    color: rgb(52, 68, 125);
    height: 30px;
    margin: auto;
    position: absolute;
    width: 636px;
    z-index: 1 !important;
}

.list-unit .list-status-title .stats {
    position: absolute;
    height: 40px;
    line-height: 40px;
    width: 180px;
    right: -25px;
    margin-top: -138px;
    z-index: 1;
}

.list-unit .list-status-title .stats a {
	padding:8px;
	margin:0 !important;
}


/* List Container - List Table */

.list-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
	background-color:transparent !important;
	color: #fff !important;
	border:none;
}

/* List Container - List Table - Header */

 .list-table .list-table-header:before {
	content: "\f0dc\00a0SORT";
    display: block;
    text-align: center !important;
    font-family: 'FontAwesome' !important;
    text-indent: 0px;
    font-weight: 700 !important;
    width: 57px;
    line-height: 40px;
    height: 39px;
    margin-left: 91px !important;
    margin-top: 0px;
    position: absolute;
}

.list-table .list-table-header:hover:before {
	color: #ffffff !important;
    background-color: transparent;
}

.list-table .list-table-header {
	position: absolute;
    display: block;
    margin-left: -93px;
    margin-top: -139px;
    z-index: 200 !important;
}

.list-table .list-table-header .header-title {
	background: #34447d url(/img/pc/ownlist/bar-table-header.png) no-repeat right 7px / 1px 22px;
    border: 0.1px dashed #4572db;
    height: 39px;
    text-align: center;
    vertical-align: middle;
    z-index: 60 !important;
    display: none;
}

/* Top -1px */

th.header-title.score, th.header-title.type, th.header-title.progress {
    margin-top: -1px;
}

/*=========*/

.list-table .list-table-header:hover .header-title {display: block;
	-moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;}

.list-table .list-table-header .header-title:last-child {
    background-image: none;
}

.list-table .list-table-header .header-title.status,.list-table .list-table-header .header-title.number,.list-table .list-table-header .header-title.image,.list-table .list-table-header .header-title.tags  {
    background-image: none;
    display:none !important;
}

.list-table .list-table-header .header-title.title {
    text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.score {
	text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.type {
	text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.progress {
	text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.chapters {
	text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.volumes {
	text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.rated {
   text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.started {
  display:none;
}

.list-table .list-table-header .header-title.finished {
  text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.days {
	text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.storage {
    text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.retail {
	text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title.priority {
    text-align: center;
	width:90px;
	line-height: 40px;
	padding:0 !important;
}

.list-table .list-table-header .header-title .link {
    font-size: 11px;
    color: #323232;
    text-decoration: none
	height:40px;
	width:90px;
}

.list-table .list-table-header .header-title.studio {
	display:none !important;
}

.list-table .list-table-header .header-title .link.sort {
    position: relative;
    display: inline-block;
    color: #6085ff;
	height:40px;
	width:90px;
    white-space: nowrap;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.list-table .list-table-header .header-title .link.sort:hover {
    color: #34447d !important;
    background-color: rgb(93, 128, 253);
    height: 39px;
    width: 90px;
}

.list-table .list-table-header .header-title .sort-icon {
    color: #fff;
}

/* customize list */

.list-table .list-table-data {
    /* box-shadow: 0 0 5px #6287ff !important; */
	box-shadow: 0 0 8px #000 !important;
    border: 1.0px solid #5272db;
}

.header a:hover,.list-table .list-table-data a:not(.edit-disabled):hover {
	text-decoration:underline;
}

/* List Container - List Table - Items */

.list-table .list-table-data a:not(.edit-disabled):hover {
	text-decoration: none !important;
}

.list-table .list-table-data .data.score .link {
    font-size: 1.2em;
    font-weight: bold
}

td.td1.borderRBL {
color: #fff !important;
}

/* */

.list-table .list-table-data .data.title .more {
    position: relative;
}

.list-table .more-info {
    display: none;
}

.list-table .more-info .more-content {
    padding: 10px;
}

/* */

.list-table .list-table-data .data.status {
    width: 4px;
	z-index:9 !important;
}

.list-table .list-table-data .data.status .text {
    display: none
}

.list-table .list-table-data .data.status.reading, .list-table .list-table-data .data.status.watching,
.list-table .list-table-data .data.status.plantoread, .list-table .list-table-data .data.status.plantowatch,
.list-table .list-table-data .data.status.completed, .list-table .list-table-data .data.status.onhold,
.list-table .list-table-data .data.status.dropped {
    background-color: transparent
}
/* tags */

.data.tags{
	top: 0;
	height: 100%;
	width: 0;
	z-index: 25;
}

.data.tags *{
    z-index: 25;
    transition: opacity .15s ease-in-out;
    color: #000;
    margin-top: 60px;
}

.data.tags:hover *{
	width: 180px;
}

.data.tags a{
	text-align:left;
	font-size: 1.0em; 
	color: #000; 
	white-space:nowrap;
}

.data.tags textarea{
	position: absolute;
    font-family: monospace!important;
    z-index: 50;
    width: 180px !important;
    height: 50px !important;
    background-color: rgba(97, 134, 255, 0.3);
    color: #fff;
    border: 0px;
}

.edit-transition.edit-leave{
	display: none;
}


.tags .edit{
    background: #f13e3e;
    position: absolute;
    top: 157px;
    left: 0px;
    width: 4px !important;
    height: 16px;
    font-size: 0 !important;
}

.tags .edit:hover{
	width: 10px !important;
}


div[class*="tags-"]{
	overflow: hidden;
    border-radius: 2px;
    height: 50px;
    background: transparent;
}

.anime [href*="&tag="]{
	white-space: normal !important;
	text-transform: none;
	pointer-events: none;
}


/*List unit*/


.list-table{
	display: table-row;
}

.data.status, .data.image ~ td{
	position: absolute;
}

.list-table .list-table-data .data.image a{
	border-radius: 2px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center !important;
}

.list-table .list-table-data .data{
	padding: 0;
	border-bottom: none;
}

.list-item .data.image{
	z-index: 0 !important;
}

.list-item .data.image img{
	height: 100%; 
	width: 100%;
}

.list-item, .list-item .list-table-data,.list-item .data.title{
	width: 180px !important;
	height: 283px !important;
}

.data.image{
	overflow:hidden;
	width: 180px !important;
	height: 225px !important;
	margin-top:0px;
}

.list-table .list-table-data .data.image a {
	width: 180px; 
	height: 225px;
}

/*override codes*/

.header .header-info > a {color: rgba(255,255,255,1) !important;}
.header .header-info {color: rgba(255,255,255,0.8) !important;}
.header .header-menu {color: rgba(255,255,255,0.8) !important;}
.header .header-menu .btn-menu {color: rgba(255,255,255,0.8) !important;}
.username {color: rgba(255,255,255,0.8) !important;}
#header-menu-button {color: rgba(255,255,255,0.8) !important;}
.header a {
    font-weight: bold;
    color: #fff !important;
}

/* */

.header .header-title {
	position: absolute;
	top: 0px;
	left: 10px;
	background-image: url("https://i.imgur.com/39cRtfK.png");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: auto 50px;
	display: block;
	width: 50px !important; 
	height: 50px;
	text-indent: -9999px;
	overflow: hidden
}

/* customization */

/* The list background */

body[data-query*='"status":1'],
body[data-query*='"status":2'],
body[data-query*='"status":3'],
body[data-query*='"status":4'],
body[data-query*='"status":6'],
body[data-query*='"status":7'] {
  background-attachment: fixed !important;
  background-position: 50% 50%;
  background-repeat: no-repeat !important;
  background-size:cover;
}

/* */

span a[href*="&tag=%40"], span a[href*="&tag=~"] {
	display: none !important;
}

/* Hentai 18+ */

span a[href*="&tag=Hentai"] {
    position: absolute;
    left: 0;
    width: 150px;
    height: 0;
    font-size: 15px;
    top: 0px;
    color: transparent !important;
	z-index: 55;
}

span a[href*="&tag=Hentai"]:after {
    content: 'Hentai';
    pointer-events: all;
    display: block;
    font-size: 14px;
    position: absolute;
    bottom: -172.5px;
    left: 0px;
    border-left: 3px solid #f13e3e;
    padding-left: 11px;
}

/* favorite */

@media entrytags-favorites {}
a[href$="&tag=*"]{
	position: absolute;
	left: 0;
	width: 150px;
	height: 0;
	font-size: 15px;
	top: 0px;
	color: transparent !important;
}

a[href$="&tag=*"]:after{
	content: 'Favorites Anime';
    pointer-events: all;
    display: block;
    font-size: 14px;
    position: absolute;
    bottom: -134.5px;
    left: 0px;
    border-left: 3px solid #f13eee;
    padding-left: 11px;
}

/* Intro animation */
@keyframes intro {
  from {
    opacity: 0;
    margin-top: 100vh;
  }
  16% {
    opacity: 0;
    margin-top: 100vh;
  }
  to {
    opacity: 1;
    margin-top: 100px;
  }
}
.list-container {
  animation: intro 2s;
}

/* */

footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height:30px !important;
	z-index: 9998;
	
}

#footer-block {
    display:none;
}

/*Fix Cover*/

.list-table .list-table-data .data.image a {
    width: 180px !important;
    height: 283px !important;
}

.data.title.clearfix {
    height: 267px !important;
    width: 164px !important;
    top: 0;
    left: 0;
}

/*======================= LIST MENU ====================*/

@media screen and (max-width: 1060px) {
	/* absolute position for small screen */
	.list-menu-float {
		left: 530px !important;
		
	}
}

/*===== ico =====*/

.list-menu-float .icon-menu.quick-add svg.icon-quick-add,
.list-menu-float .icon-menu.anime-list svg.icon-anime-list,
.list-menu-float .icon-menu.manga-list svg.icon-manga-list,
.list-menu-float .icon-menu.history svg.icon-history,
.list-menu-float .icon-menu.export svg.icon-export {
    left: 16px;
    top: 13px;
}

.list-menu-float .icon-menu.logout svg.icon-logout {
    left: 16px !important;
    top: 16px !important;
}

/*==============*/


.list-menu-float {
    background: rgba(52, 68, 125, 0.7);
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: 25px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    width: 50px;
    z-index: 999;
}

body[data-owner="1"] .list-menu-float:hover {
/* larger when viewer is owner (setting buttons) */
	width: 350px;
}

.list-menu-float:hover {
	margin-left: -175px;
	opacity: 1;
	width: 350px;
}

.list-menu-float:before {
/* used for wave effect on hover */
	border-radius: 50%;
	box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.75);
	content: "";
	height: 50px;
	margin-left: -25px;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.2s;
	width: 50px;
}

.list-menu-float::after {
/* fix for hover effect when picture becomes smaller */
	border-radius: 50%;
	content: "";
	height: 75px;
	margin-left: -37.5px;
	position: absolute;
	width: 75px;
	margin-top: -12.5px;
}

.list-menu-float:hover:before {
	animation-name: buttonAnimation;
	animation-duration: 0.2s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

@keyframes buttonAnimation {
	/* wave animation */
	0% { opacity:1; transform:scale(1)}
 	100% { opacity:0; transform:scale(2); }
 }

.list-menu-float .icon-menu.profile {
	transform: scale(1.5) translate3d(0px,0px,0px);
	-moz-backface-visibility: hidden; /* with translate3d above, fix for firefox shaking behaviour */
	z-index: 2;
}

.list-menu-float:hover .icon-menu.profile {
	transform:scale(1) translate3d(0px,0px,0px);
	-moz-backface-visibility: hidden;
}

.list-menu-float .icon-menu,
.list-menu-float form {
/* All list menu buttons */
	border-radius: 25px;
	display: inline-block;
	left: 50%;
	margin-left: -25px;
	position: absolute;
	top: 0;
	transition: all 0.2s ease 0s;
	width: 50px !important;
	z-index: 1;
}

.list-menu-float .icon-menu:not(.profile),
.list-menu-float form {
	background: transparent !important;
}

.list-menu-float .icon-menu:not(.profile):hover,
.list-menu-float form:hover {
	background: rgba(0,0,0,0.5) !important;
}

/* buttons positions */
.list-menu-float:hover .icon-menu:nth-child(2) { margin-left: -175px; }
.list-menu-float:hover .icon-menu:nth-child(3) { margin-left: -125px; }
.list-menu-float:hover .icon-menu:nth-child(4) { margin-left: -75px; }
.list-menu-float:hover .icon-menu:nth-child(5) { margin-left: 25px; }
.list-menu-float:hover .icon-menu:nth-child(6),
.list-menu-float:hover form:nth-child(6) { margin-left: 75px; }
.list-menu-float:hover form:nth-child(7) { margin-left: 125px; }
.list-menu-float:hover .icon-menu:nth-child(8) { /*margin-left: 175px;*/ display: none !important; }

.list-menu-float .icon-menu .text {
/* text display on button hover */
	font-family: Rancho;
	color: white;
    left: 50%;
    margin-left: -50px;
    margin-top: 51px;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: none;
    width: 100px !important;
    background: rgba(0,0,0,0.5) !important;
    border: none !important;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon{
/* All list menu icons */
	fill: white !important;
}

.icon-logout {
	left: 15px !important;
	top: 16px !important;
}

.list-menu-float .icon-menu.setting .text {
/* setting button (owner only) */
	height: 110px !important;
	margin-top: 45px;
	overflow: visible;
	padding-top: 10px;
	visibility: hidden;
	width: 115px !important;
}

.list-menu-float .icon-menu.setting:hover .text {
	pointer-events: all;
	visibility: visible;
	background: transparent !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.list-menu-float .icon-menu.setting .text a {
	background: rgba(0,0,0,0.5) !important;
	border: none !important;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-menu-float .icon-menu.setting .text a:first-child { 
	top: 10px !important; 
}

.list-menu-float .icon-menu.setting .text a:last-child { 
	top: 65px !important; 
}

.list-menu-float .icon-menu.setting .text a:hover {
	background: rgba(0,0,0,0.7)  !important;
}