@import url(Style.min.css);
/* THE OLD FILE THAT IS CURRENTLY IMPORTING THE NEW ONE IS TEMPORARY!!! */
body:before {
   content: "Please update the current CSS style link with a new one \a https://murakumo-jp.github.io/MyAnimeList-CSS/AzurBlur/Style.min.css, \a I am replacing the current file with another one, so the old link will not work, \a you can follow the updates on the MAL forum \a https://myanimelist.net/forum/?topicid=1868018";
   position: fixed;
   background: #000000d9;
   color: #ffff;
   font-size: 20px;
   border-radius: 10px;
   white-space: pre;
   top: 68px;
   z-index: 999;
   width: 1100px;
   margin: 0 auto;
   left: 0;
   right: 0;
}