@import url(Style.min.css);
/* THE OLD FILE THAT IS CURRENTLY IMPORTING THE NEW ONE IS TEMPORARY!!! */
body:before {
   content: "Please update the current CSS style link with a new one \a https://murakumo-jp.github.io/MyAnimeList-CSS/AzurBlur/Style.min.css, \a I am replacing the current file with another one, so the old link will not work, \a you can follow the updates on the MAL forum \a https://myanimelist.net/forum/?topicid=1868018";
   color: white;
   font-size: 25px;
   white-space: pre;
   position: fixed;
   z-index: 99999;
   width: 100%;
   left: 0;
}
body:after {
   content: " ";
   background: #000000d1;
   z-index: 9999;
   position: fixed;
   display: block;
   width: 100%;
   height: 100%;
   top: 0;
}