/* Character Setting | Atago School Traumerei */
:root{
		--body-bg: url("https://i.imgur.com/uvxBIoc.jpg");
		/* Menu Character */
		--char-img: url("https://i.imgur.com/2bEP24b.png");
		--char-display: block;
		/* Sort Menu */
		--Sort-img: url("https://i.imgur.com/wyxNT6P.png");
		--Sort-display: block;
}