@import url(Assets/glitch.css);
@import url(Assets/fonts/fonts.css);

:root{
	--colorYellow: #f8ef02;
   --colorBlack: #000;
	--fontBold: BlenderProBold,sans-serif;
	--fontBook: BlenderProBook,sans-serif;
   --transition: all 0.4s;

   --button: url("Assets/svg/button.svg");
   --button-submit: url("Assets/svg/button-submit.svg");
   --detail-header-bottom-black: url("Assets/svg/detail-header-bottom-black.svg");
   --razor-bottom-black: url("Assets/svg/razor-bottom-black.svg");
   --razor-bottom-yellow: url("Assets/svg/razor-bottom-yellow.svg");
   --razor-side: url("Assets/svg/razor-side.svg");
   --razor-top-black: url("Assets/svg/razor-top-black.svg");
}

body {
   background: var(--colorBlack);
}

/* Top Menu */

.header {
   position: fixed;
   height: 85px;
   width: 100%;
   background-color: var(--colorYellow);
   z-index: 10;
}

.header:after, .header:before {
   content: " ";
   display: block;
   position: absolute;
   width: 100%;
   height: 39px;
   transform: scale(1, -1);
   background-repeat: no-repeat;
   background-image: var(--razor-bottom-black);
   bottom: 0;
}

.header:before {
   top: 85px;
   transform: scale(-1, 1);
}

.header .header-title {
   top: 15px;
   left: 20px;
   filter: invert(1);
}

.status-menu-container {
   position: fixed;
   display: block;
   left: 0;
   right: 0;
   margin: 0 auto;
   width: fit-content;
   top: 0;
   height: 60px;
   z-index: 11;
   background: transparent !important;
   border: none !important;
}

.status-menu-container .status-menu .status-button {
   display: inline-block;
   font-size: 16px;
   font-family: var(--fontBold);
   background: transparent;
   color: #000 !important;
   padding: 0 12px;
   line-height: 60px;
}

.status-menu-container .status-menu .status-button:after {
   background-image: var(--detail-header-bottom-black);
   background-color: transparent;
   background-repeat: no-repeat;
   bottom: 10px;
   transition: all 0.4s;
}

/* Cover Image Container */

.cover-block {
   position: relative;
   width: 100%;
}
.cover-block .image-container, 
.cover-block .image-container img {
   padding: 0;
   width: 100%;
   max-width: -webkit-fill-available;
}

.cover-block:after, .cover-block .image-container:after {
   content: " ";
   transform: scale(-1, 1);
   background-image: var(--razor-bottom-yellow);
   background-repeat: repeat-x;
   display: block;
   position: absolute;
   width: 100%;
   height: 39px;
}

.cover-block .image-container:after {
   transform: scale(1, -1);
   bottom: 0;
}

/* List Content */

.list-block,
.status-menu-container.fixed + div.list-block {
  margin-top: 0;
}
.status-menu-container.fixed + div.list-block{
   background-color: var(--colorYellow);
}
.list-block {
   transition: var(--transition);
}
.list-container {
   background-color: #000;
   width: 100%;
   top: 95px;
   border: 0;
}