@import url(Assets/glitch.css);
@import url(Assets/fonts/fonts.css);

:root{
	--colorYellow: #f8ef02;
   --colorBlack: #000;
	--fontBold: BlenderProBold,sans-serif;

   --button: url("Assets/svg/button.svg");
   --button-submit: url("Assets/svg/button-submit.svg");
   --detail-header-bottom-black: url("Assets/svg/detail-header-bottom-black.svg");
   --razor-bottom-black: url("Assets/svg/razor-bottom-black.svg");
   --razor-bottom-yellow: url("Assets/svg/razor-bottom-yellow.svg");
   --razor-side: url("Assets/svg/razor-side.svg");
   --razor-top-black: url("Assets/svg/razor-top-black.svg");
}

body {
   background: #000;
}

/* Top Menu */

.header {
   position: fixed;
   height: 85px;
   width: 100%;
   background-color: var(--colorYellow);
   z-index: 1;
}

.header:after {
   content: " ";
   display: block;
   position: absolute;
   width: 100%;
   height: 39px;
   transform: scale(1, -1);
   background-repeat: no-repeat;
   background-image: var(--razor-bottom-black);
   bottom: 0;
}

#status-menu {
   display: block;
   position: fixed;
   top: 0;
   border: 0;
   background: transparent;
   z-index: 2;
}