@import url(Assets/glitch.css);
@import url(Assets/fonts/fonts.css);

:root{
	--color: #f10834;
	--fontBold: BlenderProBold,sans-serif;
	--fontBook: BlenderProBook,sans-serif;

   --button: url("Assets/svg/button.svg");
   --button-submit: url("Assets/svg/button-submit.svg");
   --detail-header-bottom-black: url("Assets/svg/detail-header-bottom-black.svg");
   --razor-bottom-black: url("Assets/svg/razor-bottom-black.svg");
   --razor-bottom-yellow: url("Assets/svg/razor-bottom-yellow.svg");
   --razor-side: url("Assets/svg/razor-side.svg");
   --razor-top-black: url("Assets/svg/razor-top-black.svg");
}

/* BACKGROUND */

body {
   visibility: visible;
   }
   
   /* HEADER */
   
   .header {
   visibility: visible;
   }
   
   .header .header-menu {
   visibility: visible;
   }
   
   .header .header-title {
   visibility: visible;
   }
   
   /* SIDE MENU */
   
   .list-menu-float {
   visibility: visible;
   }
   
   .list-menu-float .icon-menu {
   visibility: visible;
   }
   
   .list-menu-float .icon-menu.anime-list {
   visibility: visible;
   }
   
   /* LIST CONTAINER */
   
   #list-container {
   visibility: visible;
   }
   
   /* IMAGE BLOCK */
   
   .cover-block {
   visibility: visible;
   }
   
   .cover-block #cover-image {
   /* Cover image */
   visibility: visible;
   }
   
   .cover-block .image-container .btn-list-setting {
   visibility: visible;
   }
   
   /* STATUS MENU */
   
   #status-menu {
   visibility: visible;
   }
   
   #status-menu .status-button {
   visibility: visible;
   }
   
   #status-menu .status-button.watching {
   visibility: visible;
   }
   
   /* SEARCH */
   
   .status-menu-container .search-container {
   visibility: visible;
   }
   
   /* LIST UNIT */
   
   .list-unit {
   visibility: visible;
   }
   
   /* STATUS TITLE */
   
   .list-unit .list-status-title {
   visibility: visible;
   }
   
   /* STATS */
   
   #show-stats-button {
   visibility: visible;
   }
   
   #advanced-options-button {
   visibility: visible;
   }
   
   .list-unit .list-stats {
   visibility: visible;
   }
   
   /* LIST TABLE */
   
   /* Sort row */
   
   .list-table .list-table-header {
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title {
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title.title {
   visibility: visible;
   }
   
   /* Data rows */
   
   .list-table tbody.list-item {
   visibility: visible;
   }
   
   .list-table .list-table-data .data {
   visibility: visible;
   }
   
   .list-table .list-table-data .data.score {
   visibility: visible;
   }
   
   .list-table .list-table-data .data.title .link {
   visibility: visible;
   }
   
   .add-edit-more {
   visibility: visible;
   }
   
   /* LOADING SPACE */
   
   .list-unit .loading-space {
   visibility: visible;
   }
   
   /* FOOTER */
   
   footer {
   visibility: visible;
   }
   
   
   /* MORE SEPARATION FOR INSPECT ELEMENT USERS */
   .list-table .list-table-header .header-title.image {
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title.number {
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title.score {
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title.type{
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title.progress{
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title.tags{
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title.rated{
   visibility: visible;
   }
   
   .list-table .list-table-header .header-title.started{
   visibility: visible;
   }
   
   
   
   .list-table .list-table-header .header-title.finished{
   visibility: visible;
   }
   
   
   .list-table .list-table-header .header-title.days{
   visibility: visible;
   }
   
   
   .list-table .list-table-header .header-title.storage{
   visibility: visible;
   }
   
   
   .list-table .list-table-header .header-title.priority{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.number{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.title{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.type{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.progress{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.rated{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.storage{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.licensor{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.studio{
   visibility: visible;
   }
   
   .list-table .list-table-data .data.title.clearfix{
   visibility: visible;
   }
   
   #status-menu .status-button.completed{
   visibility: visible;
   }
   
   #status-menu .status-button.onhold{
   visibility: visible;
   }
   
   #status-menu .status-button.dropped{
   visibility: visible;
   }
   
   #status-menu .status-button.plantowatch{
   visibility: visible;
   }
   
   #status-menu .status-button.all_anime{
   visibility: visible;
   }
   
   .list-menu-float .icon-menu.profile
   {
   visibility: visible;
   }
   
   .list-menu-float .icon-menu.quick-add {
   visibility: visible;
   }
   
   
   .list-menu-float .icon-menu.anime-list {
   visibility: visible;
   }
   
   .list-menu-float .icon-menu.manga-list{
   visibility: visible;
   }
   
   
   .list-menu-float .icon-menu.history{
   visibility: visible;
   }
   
   .list-menu-float .icon-menu.export{
   visibility: visible;
   }
   
   .list-menu-float .icon-menu.logout{
   visibility: visible;
   }
   
   .list-menu-float .icon-menu.setting{
   visibility: visible;
   }
   
   .list-menu-float .icon-menu.quick-add {
   visibility: visible;
   }
   
   .list-table > tbody:nth-of-type(2n+1){
   visibility: visible;
   }
   
   
   #copyright:after {
   /* Custom copyright text */
   content: "Mapped layout by Shishio-kun & Doomcat55.";
   }