/* Character Setting | Atago Summer March */
:root{
		--body-bg: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/Summer-March/Resources/AtagoSummerBG.jpg");
		/* Menu Character */
		--char-img: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/Summer-March/Resources/AtagoSummer.png");
		--char-display: block;
		/* Sort Menu */
		--Sort-img: url("/MyAnimeList-CSS/AzurBlur/Assets/Atago/Summer-March/Resources/AtagoSummerChibi.png");
		--Sort-display: block;
}