/* Character Setting | Noshiro: Wedding */
:root {
  --body-bg: url("/MyAnimeList-CSS/AzurBlur/Assets/Noshiro/Wedding/Resources/BG.jpg");
  /* Menu Character */
  --char-img: url("/MyAnimeList-CSS/AzurBlur/Assets/Noshiro/Wedding/Resources/NoshiroWedding.png");
  --char-display: block;
  /* Sort Menu */
  --Sort-img: url("/MyAnimeList-CSS/AzurBlur/Assets/Noshiro/Wedding/Resources/NoshiroWeddingChibi.png");
  --Sort-display: block;
}
