/* List design by 5cm */
/* Redesign CSS by MurakumoJP */
@\import "https://malscraper.azurewebsites.net/covers/auto/presets/dataimagelinkafter";
@\import "https://fonts.googleapis.com/css?family=Source+Sans+Pro";

:root{
	--background: url("https://i.imgur.com/WWzypzv.png");
}

body {
    width: 1058px;
    margin: auto;
    font: 11px Source Sans Pro;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: var(--background);
    background-position: center;
    background-size: cover;
    background-attachment: fixed !important;
}

a {color: black;}

#header-menu-button .fa, [data-owner=""] .list-menu-float,
.list-menu-float .icon-menu.setting svg.icon-setting,
.list-unit:not(.all_anime) .status, .icon-watch.ml4,[data-owner=""] .add-edit-more span, .more,
td.data.number {display: none;}

.header .header-title {background: #333 15px 2px/50px no-repeat url(https://i.postimg.cc/sx2N13vT/logo.png);
  width: 160px; height: 50px; top: 68px; z-index: 2; border-radius: 10px 0 0; border-bottom: 1px solid #555;}

.header .header-title:hover {background-color: #222;}

.header .header-menu.other {width: 160px; top: 118px; left: 0; z-index:2;}
.header .header-menu {color: #191919;}

[data-owner=""] .header .header-menu .btn-menu, .header .header-menu .header-info {font-size: 0; text-align: left; margin: 0;}

.header .header-menu .header-info {margin-top: 50px;}

#header-menu-button, .anime .list-menu-float .icon-menu.anime-list, .anime .list-menu-float .icon-menu.anime-list svg,
.anime .list-menu-float .icon-menu.anime-list .text, .anime .list-menu-float .icon-menu.anime-list:hover,
.manga .list-menu-float .icon-menu.manga-list, .manga .list-menu-float .icon-menu.manga-list svg,
.manga .list-menu-float .icon-menu.manga-list .text, .manga .list-menu-float .icon-menu.manga-list:hover {
    background-color: #191919; 
	color: #999; 
	fill: #999;
}

#header-menu-button:before {content: ''; display: inline-block; width: 13px; height: 12px; margin: 0 10px 0 20px;}
.anime #header-menu-button:before {background: left/cover url(https://s6.postimg.cc/46qmpa1m9/blackanime.png);}
.manga #header-menu-button:before {background: left/cover url(https://s6.postimg.cc/3tz8j33wx/blackmanga.png);}

.header a, .header .header-menu .list-menu .icon-menu {display: block; width: 160px; height: 50px; transition: none;}

.header .header-menu .list-menu {top: 100px; left: 0; background: none; display: block!important; border: 0; box-shadow: none;}

.header .header-menu .list-menu .icon-menu .text {left: 48px; top: 0; font-size: 11px; color: #999;}

.header-info [href*=shared]:before {font: 14px FontAwesome; content: '\f0ec'; padding: 0 11px 0 20px;}

.fa.fa-history {padding: 0 6px 0 21px; font-size: 16px;}

.header-info [href*=login] {border-top: 1px solid #555;}

.header-info [href*=login]:before {font: 17px FontAwesome; content: '\f090'; padding: 0 12px 0 20px;}

.header-info [href*=register]:before {font: 14px FontAwesome; content: '\f234';padding: 0 12px 0 20px;}

.header-info [href*=register]:after {content: 'Register'; font-size: 11px; letter-spacing: 2px;}

.header a, .header a.username:after, .list-menu-float .icon-menu.profile:after {
  content: 'Profile'; font: bold 11px Source Sans Pro; color: #999!important; line-height: 50px; letter-spacing: 2px;}

.header a:not(.header-title):hover, .header .header-menu .list-menu .icon-menu:hover, .list-menu-float .icon-menu.profile:hover {
  background: #222; color: white; text-decoration: none;}

.header a.username, .header-info [href*=register], .list-menu-float .icon-menu.setting .text .link-style-setting {
  font-size: 0; letter-spacing: 0;}

.header a.username:before {content: '\f007'; font: 15px FontAwesome; padding: 0 15px 0 20px;}

.header a.username:hover:after,
.header .header-menu .list-menu .icon-menu:hover svg.icon,
.header .header-menu .list-menu .icon-menu:hover .text,
.list-menu-float .icon-menu.setting .text .link-style-setting:hover:before {
  fill: white; color: white;}

.header .header-menu .list-menu .icon-menu svg.icon, .list-menu-float .icon-menu svg.icon {
  width: 15px; fill: #999; top: 15px!important; left: 20px!important;}

.list-menu-float {position: relative; top: 49px; left: 0; width: 160px; border: 0;}

.list-menu-float .icon-menu {background: #333; width: 100%; transition: none;}

.list-menu-float .icon-menu.profile {background-image: none!important;
  width: 110px; padding-left: 50px; text-align: left;}

.list-menu-float .icon-menu.profile:before {content: '\f007';
  font: 15px FontAwesome; color: #999; position: absolute; top: 17px; left: 22px;}

.list-menu-float .icon-menu .text {font: bold 11px Source Sans Pro; color: #999;
  letter-spacing: 2px; width: auto; top: 18px; opacity: 1; transition: none;}

.list-menu-float .icon-menu.setting .text {left: 0; width: 100%; height: auto; text-align: left; opacity: 1;}

.list-menu-float .icon-menu.setting .text .link-list-setting,
.list-menu-float .icon-menu.setting .text .link-style-setting,
.list-menu-float .icon-menu.setting:hover .text,
.list-menu-float .icon-menu.setting:hover .text .link-list-setting,
.list-menu-float .icon-menu.setting:hover .text .link-style-setting {
  background: #333; width: 100%; color: #999; line-height: 50px; border: 0; opacity: 1;}

.list-menu-float .icon-menu:not(.profile):hover,
.list-menu-float .icon-menu.setting .text .link-list-setting:hover,
.list-menu-float .icon-menu.setting .text .link-style-setting:hover {
  background: #222; width: 100%; color: white;}

.list-menu-float .icon-menu.profile:hover:before, .list-menu-float .icon-menu.setting .text .link-list-setting:hover:before,
.list-menu-float .icon-menu.profile:hover:after, .list-menu-float .icon-menu:hover .text {width: auto; color: white;}

.list-menu-float .icon-menu.setting .text .link-list-setting {padding-left: 50px;}

.list-menu-float .icon-menu.setting .text .link-style-setting:after {
  content:'List style'; font-size: 11px; letter-spacing: 2px; padding-left: 50px;}

.list-menu-float .icon-menu.setting .text .link-list-setting:before {
  content: '\f013'; font: 16px FontAwesome; color: #999; position: absolute; margin:17px 0 0 -29px;}

.list-menu-float .icon-menu.setting .text .link-style-setting:before {
  content: '\f1fc'; font: 14px FontAwesome; color: #999; position: absolute; margin: 17px 21px;}

.list-container {border-radius: 10px; margin-top: -402px; z-index: 1;
  background: #33333380; border: 0; box-shadow: 0 8px 20px rgba(0,0,0,.6);
  width: 1135px; }

[data-owner=""] .list-container {margin-top: -2px;}

.list-block, .status-menu-container.fixed + div.list-block {margin: 0; min-height: auto;}

.list-unit {
    width: auto;
    margin-left: 160px;
    padding: 10px 30px 30px;
    overflow: auto;
    border-radius: 0 0 10px;
    margin-bottom: 20px;
}

.status-menu-container, .status-menu-container.fixed {position: static; height: 50px; }

.status-menu-container .status-menu {height: 100%; margin-left: 160px; border-spacing: 36px 0;}

.status-menu-container .status-menu .status-button {font: bold 11px Source Sans Pro; letter-spacing: 2px;}

.status-menu-container .status-menu .status-button.on {font-size: 12px; color: #999;}

.status-menu-container .status-menu .status-button:after {height: 5px; border-radius: 10px 10px 0 0;}

.status-menu-container .status-menu .status-button.all_anime:after,
.status-menu-container .status-menu .status-button.watching:after,
.status-menu-container .status-menu .status-button.plantowatch:after,
.status-menu-container .status-menu .status-button.completed:after,
.status-menu-container .status-menu .status-button.onhold:after,
.status-menu-container .status-menu .status-button.dropped:after {
	background-color: #99999961;
}

.status-menu-container {border-bottom: none; background-color: #191919;}

.status-menu-container .search-container #search-box input { 
	font: 11px Source Sans Pro;
    color: #999;
    letter-spacing: 1px;
    padding: 0 8px;
    border-radius: 10px;
    border: 1px solid #191919;
    background-color: #333;
    outline: none;
}

.list-unit .list-status-title .stats {height: auto; line-height: 0;}

.list-unit .list-status-title .stats a {color: #999; margin: 0;}

.list-table .list-table-header .header-title, .list-table .list-table-header .header-title .link.sort,
.list-table .list-table-header .header-title .link.sort:hover {color: #323232;}

.list-table .list-table-header .header-title.status, .list-table .list-table-data .data.status {width: 2px; padding: 0;}

.list-table .list-table-data .data.title, .list-table .list-table-data .data.studio {
    bottom: 20px;
    height: 20px;
    line-height: 1.2em;
}

.list-table .list-table-data .data.title .link {font-size: 11px;}

.list-table .list-table-data .data.title .add-edit-more {float: none; display: inline-block;
  height: 0; font-size: 0; white-space: nowrap; margin-left: 5px; opacity: 0;}

.list-table .list-table-data .data.title:hover .add-edit-more {opacity: 1;}

.list-table .list-table-data .data.title .content-status {
    bottom: 32px;
    right: 25px;
    position: absolute;
    font-size: 0px;
}
.content-status:before {
    content: '\f00c';
    font: 19px FontAwesome;
    text-shadow: 0px 0px 3px #000;
    color: greenyellow;
    position: absolute;
    margin: 5px 5px;
}
.list-table .list-table-data a:not(.edit-disabled):hover {text-decoration: none; color: white;}
.add a, .edit a {display: none !important;}
.list-table .list-table-data .data.tags {
    top: 40px;
    left: 75px;
    text-align: right;
    width: 90px;
    color: white;
    display: inline-block;
    float: left;
    font-size: 10px;
    line-height: 1.1em;
    z-index: 99;
	opacity: 0;
}.list-container .list-unit .list-table .list-item:hover .data.tags {opacity: 1;}
.list-table .list-table-data .tags .edit {
    font-size: 0;
    font-family: none;
    width: 0;
    height: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 26px;
    display: inline-block;
}
.list-table .list-table-data .tags .edit:before {
	content: "\f044";
    font: 20px FontAwesome;
    position: absolute;
    color: #999991;
    padding: 3px 2px 2px 4px;
    border-radius: 15%;
    background-color: #333;
}
.list-table > tbody:nth-of-type(2n+1) {background-color: #333333;}
.list-table .list-table-data .data.tags span a {
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 2px #000;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70px;
}
.list-table .list-table-data .data.tags span a:before {
    content: " \f02b";
    font: 12px FontAwesome;
    display: inline-block;
    position: relative;
    margin-right: 4px;
}
.list-unit .loading-space {margin: 5px;}

#footer-block {background: none; padding: 20px;}

#copyright {font: 9px Source Sans Pro; color: white; text-shadow: 1px 1px 2px #333; padding-top: 15px;}

#copyright:before {content: 'Designed by 5cm.';}

/* New by MurakumoJP */
.cover-block {display: block; opacity: 1; height: 201px;}
.cover-block .image-container img {
    position: absolute;
    max-width: 975px;
    max-height: 201px;
    border-radius: 0 10px 0 0;
    float: right;
    right: 0;
    top: 0;
}
/* Sort List */
.list-table>tbody:first-of-type {
    top: 457px;
    width: 160px;
    position: absolute;
    left: 0;
    cursor: pointer;
    display: none;
    z-index: 999;
}
.list-container .list-unit .list-table tbody:first-child::after {
    display: inline-block;
    font-weight: bold;
    padding: 0 0 0 54px;
    text-rendering: auto;
    content: "Sort List";
    height: 40px;
    font: bold 11px Source Sans Pro;
    color: #999;
    letter-spacing: 2px;
    width: auto;
}
.status-menu-container{width: 1135px;}
/* Cover */
table.list-table {border: 0;}
.list-container .list-unit .list-table .list-item {
    position: relative;
    display: inline-block;
    width: 175px;
    height: 248px;
    box-sizing: border-box;
    background-color: #333333;
    box-shadow: 1px 1px 3px #333;
    margin: 3px;
    border-radius: 10%;
	transition: all 0.5s;
}
td.data.title.clearfix {width: 100%; bottom: 0; z-index: 10;}
.list-container .list-unit .list-table .list-item .list-table-data .data.image .link .image {width: 100%; height: 100%; border: 0; border-radius: 10%;}
.list-table .list-table-data .data.image a {display: inline-block; width: 100%; height: 100%;}
.list-table .list-table-data .data {
    display: table-cell;
    padding: 4px 0;
    text-align: center;
    vertical-align: middle;
    border-bottom: #EBEBEB 1px solid;
}
.list-container .list-unit .list-table .list-item .list-table-data .data {position: absolute; padding: 0; border-style: none;}
.list-table .list-table-data .data.title .link {
    width: 100%;
    text-align: center;
    padding: 4px 4px 4px 14px;
    background-color: rgb(51, 51, 51);
    color: #fff;
    font: bold 11px Source Sans Pro;
    text-decoration: none !important;
    font-weight: 100 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 157px;
    position: absolute;
    vertical-align: middle;
    overflow: hidden;
}
.data.season {
    width: 55%;
    background-color: #333333;
    border-top: #555555 1px solid !important;
    bottom: 19px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;
	z-index: 2;
}td.data.season a {color: #fff;}
.list-container .list-unit .list-table .list-item .list-table-data .data.image {width: 100%; height: 100%;}
.list-container .list-unit .list-table .list-item .list-table-data .data.image .link::after {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10%;
}
.list-unit:before {
    content: " ";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    left: 0;
    height: 20px;
    border-radius: 0 0 10px 10px;
    background-image: linear-gradient(0, rgb(51, 51, 51) 20%, rgb(51, 51, 51) 0%, #ffffff00 100%);
    z-index: 999;
}
.list-container .list-unit .list-table .list-item .list-table-data .data.score {right: 7px; top: 7px; z-index: 2;}
.list-container .list-unit .list-table .list-item .list-table-data .data.score::before {
    display: inline-block;
    font: normal normal normal 25px / 1 FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: auto;
    position: absolute;
    color: red;
    content: "";
    z-index: 0;
    right: 0;
    top: 0;
}
.list-container .list-unit .list-table .list-item .list-table-data .data.score .link {
    font: normal normal normal 10px / 1 tahoma, verdana, arial, sans-serif;
    color: #fff;
    top: 4.5px;
    right: -1px;
    width: 28px;
    position: absolute;
}
.data.progress {
    width: 65%;
    padding: 2px !important;
    top: 208px;
    font: 12px Source Sans Pro;
    letter-spacing: 1px;
    pointer-events: all;
    color: #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #333;
    border-bottom: #555555 1px solid !important;
    border-radius: 10px 10px 0 0;
	z-index: 2;
}
.list-container .list-unit .list-table .list-item:hover .data.progress {top: 188px;}
.list-container .list-unit .list-table .list-item:hover .data.season {bottom: 1px;}
.data.progress a {color: white;}
.list-container .list-unit .list-table .list-item:hover .data.progress,
.list-container .list-unit .list-table .list-item:hover .data.season,
.list-container .list-unit .list-table .list-item:hover .data.tags {
	-webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
td.data.progress:before {
    padding: 2px 0px 0px 0;
    content: "Ep:";
    pointer-events: all;
    color: #fff;
    margin-right: 5px;
}
.list-container .list-unit .list-table .list-item .list-table-data .data.progress div {display: inline-block; vertical-align: top;}
td.data.type {
    width: 40%;
    background-color: #333333;
    color: #fff;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;
	z-index: 2;
}
.list-container:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 160px;
    height: 100%;
    display: inline-block;
    background: #333333;
    border-radius: 10px 0 0 10px;
}
/* .list-item:before {
    content: " ";
    position: absolute;
    display: block;
	opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #0000004d;
    border-radius: 10%;
} */
.list-item:hover:before{opacity: 1; transition: all 0.5s;}
.list-container .list-unit .list-table .list-item:hover .data.image {filter: blur(5px) brightness(0.5); transition: all 0.5s;}
.data.image {pointer-events: none;}
/* Scrollbar */
::-webkit-scrollbar {
    height: 9px;
    width: 9px;
    background-color: #333333;
    border: 4px solid #333333;
}
::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: padding-box;
    background-color: #ffffff;
}
/* Stat */

.list-unit .list-status-title {
    width: 975px;
    top: 174px;
    margin: 0 auto;
    left: 160px;
    right: 0;
    position: absolute;
	height: 20px; 
	background:none;
}
.list-unit .list-status-title span.text {
    left: 7px;
    width: auto;
    position: absolute;
    color: #ffffff8c;
}
.list-stats {
    position: absolute;
    left: 160px;
    background-color: #333333c4 !important;
    max-width: 975px;
    top: 0;
}
#advanced-options-button, #show-stats-button {
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 20px;
}span.stats {top: 6px;}
td.data.number {display: none !important;}
body:after {
    content: "MyAnimeList.net is a property of MyAnimeList, LLC. ©2015 All Rights Reserved. \a Designed by 5cm. \a Redesign CSS Version by MurakumoJP.";
    display: block !important;
    padding: 15px !important;
    width: 1107px;
    bottom: 0;
    margin-bottom: 15px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    text-transform: none;
    border-radius: 10px 10px 10px 10px;
    white-space: pre;
    background: #333333d1;
    box-shadow: 0 8px 20px rgba(0,0,0,.6);
}
/* Filter */
#advanced-options {
    background-color: #333333 !important;
    box-shadow: 0 8px 20px rgba(0,0,0,.6) !important;
    border-radius: 15px !important;
    border: 0 !important;
    color: #999 !important;
    fill: #999 !important;
}
input[type="text"], select {background-color: #333 !important; border: 0 !important; color: #999 !important; box-shadow: 0 5px 10px rgba(0,0,0,.6) !important;}
#advanced-options .sort-widget input[type=radio]:checked + label {background-color: #191919 !important; border: none !important; color: #999 !important; box-shadow: 0 0 5px rgba(0,0,0,.6) !important;}
#advanced-options .sort-widget input[type=radio] + label {background-color: #999 !important; border: 0 !important; color: #191919 !important;}
#advanced-options .btn-apply:hover, #advanced-options .btn-clear:hover {background-color: #191919cc !important;}
#advanced-options .btn-apply, #advanced-options .btn-clear {background-color: rgba(25, 25, 25, 1) !important;}