/*3D Kanojo Real Girl*/
a[href*="/36793/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1806/90190.jpg")}
/*Beatless*/
a[href*="/36516/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1986/90184.jpg")}
/*Boku no Hero Academia 3rd Season*/
a[href*="/36456/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1319/92084.jpg")}
/*Comic Girls*/
a[href*="/35756/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1207/91794.jpg")}
/*Darling in the FranXX*/
a[href*="/35849/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1614/90408.jpg")}
/*Gamers*/
a[href*="/34280/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/86828.jpg")}
/*Knights Magic*/
a[href*="/34104/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/85914.jpg")}
/*Kubikiri Cycle Aoiro Savant to Zaregototsukai*/
a[href*="/33263/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/81588.jpg")}
/*Nanatsu no Taizai Imashime no Fukkatsu*/
a[href*="/34577/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/90089.jpg")}
/*One Punch Man Road to Hero*/
a[href*="/31704/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/76392.jpg")}
/*Ramen Daisuki Koizumi-san*/
a[href*="/35298/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/89876.jpg")}
/*Saiki Kusuo no Ψ-nan (TV) 2*/
a[href*="/34612/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1961/91383.jpg")}
/*Shiyan Pin Jiating*/
a[href*="/36397/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/88806.jpg")}
/*Shokugeki no Souma San no Sara - Toutsuki Ressha-hen*/
a[href*="/36949/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1337/91798.jpg")}
/*To Be Heroine*/
a[href*="/35044/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1552/93084.jpg")}
/*Wake Up Girls Shin Shou*/
a[href*="/34522/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/87732.jpg")}
/*Wotaku ni Koi wa Muzukashii*/
a[href*="/35968/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1545/90922.jpg")}
/*Youkai Apartment no Yuuga na Nichijou*/
a[href*="/35220/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/86678.jpg")}
/*hack Intermezzo*/
a[href*="/1143/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/66499.jpg")}
/*hack Sign*/
a[href*="/48/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/15142.jpg")}
/*11eyes*/
a[href*="/6682/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/73520.jpg")}
/*15 Bishoujo Hyouryuuki*/
a[href*="/5762/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/31333.jpg")}
/*3-gatsu no Lion*/
a[href*="/31646/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/82901.jpg")}
/*3-gatsu no Lion 2nd Season*/
a[href*="/35180/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1959/92119.jpg")}
/*30-sai no Hoken Taiiku*/
a[href*="/9624/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/81172.jpg")}
/*300 En no Otsukiai Anime Edition*/
a[href*="/33993/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/81850.jpg")}
/*91 Days*/
a[href*="/32998/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/80515.jpg")}
/*A-Channel*/
a[href*="/9776/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/29687.jpg")}
/*Absolute Duo*/
a[href*="/25397/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/68839.jpg")}
/*Accel World*/
a[href*="/11759/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/38155.jpg")}
/*Accel World EX*/
a[href*="/13939/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/41815.jpg")}
/*Accel World  Acchel World*/
a[href*="/13859/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/38469.jpg")}
/*Accel World: Infinite∞Burst*/
a[href*="/31763/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/87145.jpg")}
/*Acchi Kocchi TV*/
a[href*="/12291/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/46489.jpg")}
/*Aho Girl*/
a[href*="/34881/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/86665.jpg")}
/*Aishen Qiaokeli-ing*/
a[href*="/32323/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/78011.jpg")}
/*Aiura*/
a[href*="/17082/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/60699.jpg")}
/*Akame ga Kill*/
a[href*="/22199/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/78438.jpg")}
/*Akaneiro ni Somaru Saka*/
a[href*="/4744/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/21525.jpg")}
/*Akaneiro ni Somaru Saka  Hardcore*/
a[href*="/5772/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/12090.jpg")}
/*Akibas Trip The Animation*/
a[href*="/34051/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/83185.jpg")}
/*Akibakei Kanojo*/
a[href*="/1896/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/36727.jpg")}
/*Akikan*/
a[href*="/5112/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/47093.jpg")}
/*Aku no Onna Kanbu  Full Moon Night*/
a[href*="/16059/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/43285.jpg")}
/*Akuma no Riddle*/
a[href*="/19429/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/60479.jpg")}
/*Aldnoah Zero*/
a[href*="/22729/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/60263.jpg")}
/*Aldnoah Zero 2nd Season*/
a[href*="/27655/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/71297.jpg")}
/*Amaama to Inazuma*/
a[href*="/32828/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/80546.jpg")}
/*Amagami SS*/
a[href*="/8676/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/78699.jpg")}
/*Amagami SS Plus*/
a[href*="/11235/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/33359.jpg")}
/*Amagi Brilliant Park*/
a[href*="/22147/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/85435.jpg")}
/*Amakano*/
a[href*="/31810/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/82482.jpg")}
/*Amanchu*/
a[href*="/31771/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/80810.jpg")}
/*Amanee  Tomodachinchi de Konna Koto ni Naru Nante*/
a[href*="/21069/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1712/90758.jpg")}
/*Anata wa Watashi no Mono*/
a[href*="/34530/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/85552.jpg")}
/*Ane Jiru 2 The Animation  Shirakawa Sanshimai ni Omakase*/
a[href*="/9435/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/53279.jpg")}
/*Ane Kyun  Joshi ga Ie ni Kita*/
a[href*="/24967/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/63989.jpg")}
/*Ane Yome Quartet*/
a[href*="/30614/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/76620.jpg")}
/*Ane Haramix*/
a[href*="/2866/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/18252.jpg")}
/*Aneimo*/
a[href*="/5194/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/17338.jpg")}
/*Aneki My Sweet Elder Sister The Animation*/
a[href*="/4600/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/33715.jpg")}
/*Ange Vierge*/
a[href*="/32171/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/80684.jpg")}
/*Angel Beats*/
a[href*="/6547/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/22061.jpg")}
/*Angel Beats Specials*/
a[href*="/9062/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/25073.jpg")}
/*Angel Beats Another Epilogue*/
a[href*="/10067/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/65355.jpg")}
/*Ani ni Tsukeru Kusuri wa Nai*/
a[href*="/35015/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/85295.jpg")}
/*Animegataris*/
a[href*="/35427/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/89686.jpg")}
/*Aniyome wa Ijippari*/
a[href*="/4358/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/31513.jpg")}
/*Anne Happy*/
a[href*="/31080/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/78701.jpg")}
/*Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai*/
a[href*="/9989/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/79697.jpg")}
/*Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai Movie*/
a[href*="/15039/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/49993.jpg")}
/*Ano Natsu de Matteru*/
a[href*="/11433/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/59405.jpg")}
/*Another*/
a[href*="/11111/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/75509.jpg")}
/*Ansatsu Kyoushitsu*/
a[href*="/24833/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/75639.jpg")}
/*Ansatsu Kyoushitsu 2nd Season*/
a[href*="/30654/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/77966.jpg")}
/*Ao no Exorcist*/
a[href*="/9919/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/75195.jpg")}
/*Ao no Exorcist Movie*/
a[href*="/11737/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/42005.jpg")}
/*Ao no Exorcist Movie Special*/
a[href*="/13677/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/61139.jpg")}
/*Ao no Exorcist Kuro no Iede*/
a[href*="/11266/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/73495.jpg")}
/*Ao no Exorcist Ura Ex*/
a[href*="/10647/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/38149.jpg")}
/*Ao no Kanata no Four Rhythm*/
a[href*="/28391/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/77839.jpg")}
/*Aoharu x Kikanjuu*/
a[href*="/30205/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/76271.jpg")}
/*Aoi Sekai no Chuushin de*/
a[href*="/15133/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/43233.jpg")}
/*Aoki Hagane no Arpeggio  Ars Nova*/
a[href*="/18893/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/56143.jpg")}
/*Arai Men to YuYu The Animation*/
a[href*="/4010/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/33677.jpg")}
/*Arakawa Under the Bridge*/
a[href*="/7647/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/59197.jpg")}
/*Arakawa Under the Bridge x Bridge*/
a[href*="/9074/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/59199.jpg")}
/*Arcana Famiglia*/
a[href*="/12967/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/39495.jpg")}
/*Asa made Jugyou Chu*/
a[href*="/12581/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/35229.jpg")}
/*Asobi ni Iku yo*/
a[href*="/6166/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/75583.jpg")}
/*Asobi ni Iku yo  Asobi ni Oide*/
a[href*="/9618/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/26653.jpg")}
/*Asobi ni Iku yo  Asobi ni Oide - Owari*/
a[href*="/29998/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/71912.jpg")}
/*Astarotte no Omocha*/
a[href*="/9736/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/75562.jpg")}
/*Astarotte no Omocha EX*/
a[href*="/10582/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/30853.jpg")}
/*Asu no Yoichi*/
a[href*="/4999/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/20621.jpg")}
/*B-gata H-kei*/
a[href*="/7817/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/75227.jpg")}
/*Baka na Imouto wo Rikou ni Suru no wa Ore no xx dake na Ken ni Tsuite*/
a[href*="/32667/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/81400.jpg")}
/*Baka to Test to Shoukanjuu*/
a[href*="/6347/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/50389.jpg")}
/*Baka to Test to Shoukanjuu Ni*/
a[href*="/8516/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/28992.jpg")}
/*Bakemono no Ko*/
a[href*="/28805/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/73540.jpg")}
/*Bakemonogatari*/
a[href*="/5081/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/75274.jpg")}
/*Baku Ane  Otouto Shibocchau zo The Animation*/
a[href*="/24641/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/63429.jpg")}
/*Bakuman*/
a[href*="/7674/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/26138.jpg")}
/*Bakuman 2nd Season*/
a[href*="/10030/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/34923.jpg")}
/*Bakuman 2nd Season Special*/
a[href*="/23369/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/60369.jpg")}
/*Bakuman 3rd Season*/
a[href*="/12365/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/41845.jpg")}
/*Bakuman 3rd Season Specials*/
a[href*="/23361/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/62061.jpg")}
/*Bakuman Deraman*/
a[href*="/15711/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/60857.jpg")}
/*Bakuon*/
a[href*="/30795/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/78914.jpg")}
/*BanG Dream*/
a[href*="/33573/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/82414.jpg")}
/*Barakamon*/
a[href*="/22789/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/59321.jpg")}
/*Ben-To*/
a[href*="/10396/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/73984.jpg")}
/*Betsu ni Anta no Tame ni Ookiku Natta n ja Nai n Dakara ne*/
a[href*="/10553/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1253/90713.jpg")}
/*Bikini Warriors*/
a[href*="/30782/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/75103.jpg")}
/*Bikyaku Seido Kaichou Ai*/
a[href*="/20589/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/54639.jpg")}
/*Binbougami ga*/
a[href*="/13535/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/39333.jpg")}
/*Black Bullet*/
a[href*="/20787/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/57947.jpg")}
/*Black Rock Shooter*/
a[href*="/12079/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/54331.jpg")}
/*Black Rock Shooter OVA*/
a[href*="/7059/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/22417.jpg")}
/*Black Rock Shooter TV*/
a[href*="/11285/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/53909.jpg")}
/*Blame Movie*/
a[href*="/32086/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/85516.jpg")}
/*Bleach*/
a[href*="/269/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/40451.jpg")}
/*Blend S*/
a[href*="/34618/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/88286.jpg")}
/*Blood Lad*/
a[href*="/11633/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/47677.jpg")}
/*Bloods  Inraku no Ketsuzoku 2*/
a[href*="/10694/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/29450.jpg")}
/*Boku dake ga Inai Machi*/
a[href*="/31043/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/77957.jpg")}
/*Boku dake no Hentai Kanojo Motto The Animation*/
a[href*="/36109/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/87283.jpg")}
/*Boku dake no Hentai Kanojo The Animation*/
a[href*="/35781/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/87282.jpg")}
/*Boku no Hero Academia*/
a[href*="/31964/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/78745.jpg")}
/*Boku no Hero Academia 2nd Season*/
a[href*="/33486/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/85221.jpg")}
/*Boku no Hero Academia 2nd Season  Hero Note*/
a[href*="/35262/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/84951.jpg")}
/*Boku no Kanojo ga Majimesugiru Sho-bitch na Ken*/
a[href*="/35712/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/87623.jpg")}
/*Boku to Misaki-sensei*/
a[href*="/35498/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/85541.jpg")}
/*Boku wa Tomodachi ga Sukunai*/
a[href*="/10719/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/32873.jpg")}
/*Boku wa Tomodachi ga Sukunai Next*/
a[href*="/14967/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/44724.jpg")}
/*Bokura no Sex*/
a[href*="/34030/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/82260.jpg")}
/*Bokura wa Minna Kawai-sou*/
a[href*="/21405/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/64629.jpg")}
/*Boy Meets Harem The Animation*/
a[href*="/25667/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/71743.jpg")}
/*Brandish*/
a[href*="/12055/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/33979.jpg")}
/*Brave Witches*/
a[href*="/32866/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/81854.jpg")}
/*Brotherhood Final Fantasy XV*/
a[href*="/33080/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/79397.jpg")}
/*Btooom*/
a[href*="/14345/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/40977.jpg")}
/*Bungou Stray Dogs*/
a[href*="/31478/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/79409.jpg")}
/*Bungou Stray Dogs 2nd Season*/
a[href*="/32867/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/88585.jpg")}
/*Busou Shoujo Machiavellianism*/
a[href*="/33475/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/83995.jpg")}
/*C The Money of Soul and Possibility Control*/
a[href*="/10163/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/50551.jpg")}
/*Cafe Junkie*/
a[href*="/5464/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/57209.jpg")}
/*Campione Matsurowanu Kamigami to Kamigoroshi no Maou*/
a[href*="/12293/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/75662.jpg")}
/*Cubex Cursedx Curious*/
a[href*="/10578/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/32285.jpg")}
/*Chain Chronicle Haecceitas no Hikari*/
a[href*="/28833/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/83740.jpg")}
/*Charlotte*/
a[href*="/28999/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/74683.jpg")}
/*Chicchana Onaka*/
a[href*="/31740/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/76456.jpg")}
/*Chichiiro Toiki*/
a[href*="/21925/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/74806.jpg")}
/*Chihayafuru*/
a[href*="/10800/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/35749.jpg")}
/*Chihayafuru 2*/
a[href*="/14397/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/47435.jpg")}
/*Chijoku no Seifuku*/
a[href*="/32895/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/80024.jpg")}
/*Chitose Get You*/
a[href*="/14277/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/50537.jpg")}
/*Choujigen Game Neptune The Animation*/
a[href*="/16157/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/52141.jpg")}
/*Choujigen Game Neptune The Animation OVA*/
a[href*="/20479/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/54393.jpg")}
/*Chu Shite Agechau  Oshikake Oneesan no Seikou Chiryou*/
a[href*="/16914/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/47169.jpg")}
/*Chuunibyou demo Koi ga Shitai*/
a[href*="/14741/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/46931.jpg")}
/*Chuunibyou demo Koi ga Shitai Lite*/
a[href*="/15687/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/42655.jpg")}
/*Chuunibyou demo Koi ga Shitai Ren*/
a[href*="/18671/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/56643.jpg")}
/*Chuunibyou demo Koi ga Shitai Ren Lite*/
a[href*="/21797/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/57457.jpg")}
/*Chuunibyou demo Koi ga Shitai  Depth of Field - Ai to Nikushimi Gekijou*/
a[href*="/15879/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/43245.jpg")}
/*Citrus*/
a[href*="/34382/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/89985.jpg")}
/*Clannad*/
a[href*="/2167/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/8498.jpg")}
/*Clannad Movie*/
a[href*="/1723/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/75650.jpg")}
/*Clannad  After Story*/
a[href*="/4181/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/24647.jpg")}
/*Clannad After Story - Mou Hitotsu no Sekai Kyou-hen*/
a[href*="/6351/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/19621.jpg")}
/*Clannad  Mou Hitotsu no Sekai Tomoyo-hen*/
a[href*="/4059/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/19620.jpg")}
/*Classroom Crisis*/
a[href*="/30383/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/74397.jpg")}
/*Claymore*/
a[href*="/1818/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/21834.jpg")}
/*Cleavage*/
a[href*="/3537/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/37363.jpg")}
/*Code Geass  Hangyaku no Lelouch*/
a[href*="/1575/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/50331.jpg")}
/*Code Geass  Hangyaku no Lelouch R2*/
a[href*="/2904/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/9391.jpg")}
/*Comet Lucifer*/
a[href*="/31318/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/76111.jpg")}
/*Concrete Revolutio  Choujin Gensou*/
a[href*="/31147/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/76143.jpg")}
/*Concrete Revolutio  Choujin Gensou - The Last Song*/
a[href*="/32313/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/80050.jpg")}
/*Coppelion*/
a[href*="/9479/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/75543.jpg")}
/*Cowboy Bebop*/
a[href*="/1/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/19644.jpg")}
/*Crimson Girls  Chikan Shihai*/
a[href*="/13325/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/74973.jpg")}
/*Cuticle Tantei Inaba*/
a[href*="/15109/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/73934.jpg")}
/*D-Frag*/
a[href*="/20031/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/53407.jpg")}
/*DGray-man Hallow*/
a[href*="/32370/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/80766.jpg")}
/*Dagashi Kashi*/
a[href*="/31636/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/77833.jpg")}
/*Dagashi Kashi 2*/
a[href*="/36049/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1649/90141.jpg")}
/*Daitoshokan no Hitsujikai*/
a[href*="/17827/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/75230.jpg")}
/*Dakara Boku wa H ga Dekinai*/
a[href*="/12549/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/75102.jpg")}
/*Dance in the Vampire Bund*/
a[href*="/6747/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/23561.jpg")}
/*Danchigai*/
a[href*="/30127/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/74879.jpg")}
/*Danganronpa 3  The End of Kibougamine Gakuen - Mirai-hen*/
a[href*="/32189/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/80931.jpg")}
/*Danganronpa  Kibou no Gakuen to Zetsubou no Koukousei The Animation*/
a[href*="/16592/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/51463.jpg")}
/*Danna ga Nani wo Itteiru ka Wakaranai Ken*/
a[href*="/26349/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/75287.jpg")}
/*Danna ga Nani wo Itteiru ka Wakaranai Ken 2 Sure-me*/
a[href*="/29067/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/73595.jpg")}
/*Dansai Bunri no Crime Edge*/
a[href*="/16355/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/52137.jpg")}
/*Danshi Koukousei no Nichijou*/
a[href*="/11843/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/33257.jpg")}
/*Dantalian no Shoka*/
a[href*="/8915/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/52683.jpg")}
/*Dark Blue*/
a[href*="/12995/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/38817.jpg")}
/*Darker than Black  Kuro no Keiyakusha*/
a[href*="/2025/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/19570.jpg")}
/*Darker than Black  Kuro no Keiyakusha - Sakura no Hana no Mankai no Shita*/
a[href*="/4182/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/32729.jpg")}
/*Darker than Black  Kuro no Keiyakusha Gaiden*/
a[href*="/7338/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/17469.jpg")}
/*Darker than Black  Ryuusei no Gemini*/
a[href*="/6573/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/50373.jpg")}
/*Date A Live*/
a[href*="/15583/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/44844.jpg")}
/*Date A Live II*/
a[href*="/19163/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/76003.jpg")}
/*Date A Live Movie  Mayuri Judgment*/
a[href*="/24655/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/77947.jpg")}
/*Date A Live  Date to Date*/
a[href*="/17641/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/59777.jpg")}
/*Date A Live  Encore*/
a[href*="/22961/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/69489.jpg")}
/*Deadman Wonderland*/
a[href*="/6880/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/75299.jpg")}
/*Death Billiards*/
a[href*="/14353/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/48721.jpg")}
/*Death March kara Hajimaru Isekai Kyousoukyoku*/
a[href*="/34497/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/88911.jpg")}
/*Death Note*/
a[href*="/1535/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/9453.jpg")}
/*Death Parade*/
a[href*="/28223/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/71553.jpg")}
/*Demi-chan wa Kataritai*/
a[href*="/33988/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/83417.jpg")}
/*Demonion  Gaiden*/
a[href*="/25877/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/65533.jpg")}
/*Denki-gai no Honya-san*/
a[href*="/24031/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/65339.jpg")}
/*Dennou Coil*/
a[href*="/2164/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/12844.jpg")}
/*Denpa Kyoushi TV*/
a[href*="/29589/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/73475.jpg")}
/*Denpa Onna to Seishun Otoko*/
a[href*="/9379/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/59497.jpg")}
/*Devil Survivor 2 The Animation*/
a[href*="/16512/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/47191.jpg")}
/*Diabolus  Kikoku*/
a[href*="/7268/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/37413.jpg")}
/*Dimension W*/
a[href*="/31163/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/86304.jpg")}
/*Divine Gate*/
a[href*="/31710/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/77844.jpg")}
/*Dog Days*/
a[href*="/10155/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/75378.jpg")}
/*Dog Days*/
a[href*="/11783/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/42105.jpg")}
/*Dorei Usagi to Anthony The Animation*/
a[href*="/20377/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/62211.jpg")}
/*Dragon Crisis*/
a[href*="/9330/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/50311.jpg")}
/*DRAMAtical Murder*/
a[href*="/23333/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/75642.jpg")}
/*Drifters*/
a[href*="/31339/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/80271.jpg")}
/*Dropout*/
a[href*="/31886/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/78731.jpg")}
/*Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka*/
a[href*="/28121/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/70187.jpg")}
/*Dungeon ni Deai wo Motomeru no wa Machigatteiru Darou ka Gaiden  Sword Oratoria*/
a[href*="/32887/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/85467.jpg")}
/*Durarara*/
a[href*="/6746/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/71772.jpg")}
/*Durararax2 Ketsu*/
a[href*="/27833/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/77838.jpg")}
/*Durararax2 Shou*/
a[href*="/23199/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/67743.jpg")}
/*Durararax2 Ten*/
a[href*="/27831/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/74981.jpg")}
/*Elf no Futagohime  Willan to Arsura*/
a[href*="/6691/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/33705.jpg")}
/*Elfen Lied*/
a[href*="/226/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/6883.jpg")}
/*Enkou Shoujo  Rikujoubu Yukki no Baai The Animation*/
a[href*="/33393/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/80531.jpg")}
/*Ergo Proxy*/
a[href*="/790/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/6259.jpg")}
/*Ero Manga Mitai na Koi Shiyo*/
a[href*="/5315/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/85126.jpg")}
/*Ero Manga H mo Manga mo Step-up*/
a[href*="/31788/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/76566.jpg")}
/*Ero Semi  Ecchi ni Yaruki ni ABC - The Animation*/
a[href*="/34639/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/83562.jpg")}
/*Eroge H mo Game mo Kaihatsu Zanmai*/
a[href*="/10779/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/52875.jpg")}
/*Eromanga-sensei*/
a[href*="/32901/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/86468.jpg")}
/*Escha Logy no Atelier Tasogare no Sora no Renkinjutsushi*/
a[href*="/21167/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/61733.jpg")}
/*Etotama*/
a[href*="/28221/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/73586.jpg")}
/*Euphoria*/
a[href*="/10851/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/34883.jpg")}
/*Fairy Tail*/
a[href*="/6702/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/18179.jpg")}
/*Fairy Tail 2014*/
a[href*="/22043/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/60551.jpg")}
/*Fate Apocrypha*/
a[href*="/34662/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/86573.jpg")}
/*Fate Grand Order  First Order*/
a[href*="/34321/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/82651.jpg")}
/*Fate kaleid liner Prisma Illya*/
a[href*="/14829/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/52603.jpg")}
/*Fate kaleid liner Prisma Illya 2wei Herz*/
a[href*="/27525/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/75297.jpg")}
/*Fate kaleid liner Prisma Illya 2wei Herz Specials*/
a[href*="/31056/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/81262.jpg")}
/*Fate kaleid liner Prisma Illya 2wei*/
a[href*="/20509/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/64175.jpg")}
/*Fate kaleid liner Prisma Illya 2wei Specials*/
a[href*="/25011/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/64197.jpg")}
/*Fate kaleid liner Prisma Illya 2wei  Mahou Shoujo in Onsen Ryokou*/
a[href*="/26057/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/76646.jpg")}
/*Fate kaleid liner Prisma Illya 3rei*/
a[href*="/31706/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/80834.jpg")}
/*Fate kaleid liner Prisma Illya Specials*/
a[href*="/19109/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/51235.jpg")}
/*Fate kaleid liner Prisma Illya  Undoukai de Dance*/
a[href*="/18851/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/60279.jpg")}
/*Fate Prototype*/
a[href*="/12565/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/51045.jpg")}
/*Fate stay night*/
a[href*="/356/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/30327.jpg")}
/*Fate stay night Movie  Unlimited Blade Works*/
a[href*="/6922/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/80350.jpg")}
/*Fate stay night TV Reproduction*/
a[href*="/7559/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/33537.jpg")}
/*Fate stay night  Unlimited Blade Works*/
a[href*="/22297/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/67333.jpg")}
/*Fate stay night  Unlimited Blade Works - Prologue*/
a[href*="/27821/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/67425.jpg")}
/*Fate stay night  Unlimited Blade Works 2nd Season*/
a[href*="/28701/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/72863.jpg")}
/*Fate stay night  Unlimited Blade Works 2nd Season - Sunny Day*/
a[href*="/31389/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/75684.jpg")}
/*Fate Zero*/
a[href*="/10087/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/73249.jpg")}
/*Fate Zero 2nd Season*/
a[href*="/11741/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/41125.jpg")}
/*Fate Zero Remix*/
a[href*="/13183/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/37081.jpg")}
/*Fault*/
a[href*="/7053/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/37371.jpg")}
/*Fault Service  Aratanaru Rival*/
a[href*="/16638/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/46199.jpg")}
/*Fella Hame Lips*/
a[href*="/33231/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/79840.jpg")}
/*Fella Pure  Mitarashi-san Chi no Jijou The Animation*/
a[href*="/21829/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/74935.jpg")}
/*Fight Ippatsu Juuden-chan*/
a[href*="/5973/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/12946.jpg")}
/*Final Fantasy VII  Advent Children*/
a[href*="/317/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1/317.jpg")}
/*Final Fantasy VII  Advent Children - Venice Film Festival Footage*/
a[href*="/6152/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/13516.jpg")}
/*Final Fantasy VII  Advent Children Complete*/
a[href*="/2952/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/63573.jpg")}
/*Flip Flappers*/
a[href*="/32979/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/82292.jpg")}
/*Floating Material*/
a[href*="/9970/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/28913.jpg")}
/*Flying Witch*/
a[href*="/31376/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/80039.jpg")}
/*Fortune Arterial  Akai Yakusoku*/
a[href*="/8536/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/26876.jpg")}
/*Fortune Arterial  Akai Yakusoku - Tadoritsuita Basho*/
a[href*="/9347/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/25892.jpg")}
/*Frame Arms Girl*/
a[href*="/34427/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/86625.jpg")}
/*Free*/
a[href*="/18507/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/51107.jpg")}
/*Free Eternal Summer*/
a[href*="/22265/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/64097.jpg")}
/*Freezing*/
a[href*="/9367/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/28535.jpg")}
/*Freezing Vibration*/
a[href*="/18001/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/68195.jpg")}
/*Fukigen na Mononokean*/
a[href*="/32696/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/80009.jpg")}
/*Fukubiki Triangle  Futaba wa Atafuta*/
a[href*="/29573/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/72293.jpg")}
/*Fukubiki Triangle  Miharu After*/
a[href*="/8110/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/37305.jpg")}
/*Fukumenkei Noise*/
a[href*="/33203/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/85350.jpg")}
/*Fullmetal Alchemist  Brotherhood*/
a[href*="/5114/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/47421.jpg")}
/*Furifure The Animation*/
a[href*="/25055/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/64117.jpg")}
/*Furueru Kuchibiru*/
a[href*="/23033/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/59697.jpg")}
/*Furueru Kuchibiru Episode 0*/
a[href*="/24987/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/64021.jpg")}
/*Futa-bu*/
a[href*="/21521/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/58159.jpg")}
/*Futa-bu Mix  Futanari World*/
a[href*="/30583/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/74645.jpg")}
/*Black Clover*/
a[href*="/34572/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1290/91195.jpg")}
/*Caligula*/
a[href*="/36828/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1162/92032.jpg")}
/*Chi's Sweet Home*/
a[href*="/3841/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/7632.jpg")}
/*Devils Line*/
a[href*="/35928/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1598/90817.jpg")}
/*Fumikiri Jikan*/
a[href*="/37188/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1598/91857.jpg")}
/*Golden Kamuy*/
a[href*="/36028/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1145/90880.jpg");}
/*Hinamatsuri*/
a[href*="/36296/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1943/91370.jpg");}
/*Koi to Uso*/
a[href*="/34934/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/86663.jpg");}
/*Megalo Box*/
a[href*="/36563/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1427/91055.jpg");}
/*Monster Hunter Stories: Ride On*/
a[href*="/31631/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/76232.jpg");}
/*One Piece*/
a[href*="/21/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/73245.jpg");}
/*Piano no Mori*/
a[href*="/36652/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1184/90334.jpg");}
/*Sword Art Online Alternative: Gun Gale Online*/
a[href*="/36475/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1114/91791.jpg");}
/*Uma Musume: Pretty Derby*/
a[href*="/35249/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1683/91888.jpg");}
/*Violet Evergarden*/
a[href*="/33352/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1329/90618.jpg");}