a[href*="/36793/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1806/90190.jpg");}
a[href*="/36516/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1986/90184.jpg");}
a[href*="/36456/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1319/92084.jpg");}
a[href*="/35756/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1207/91794.jpg");}
a[href*="/35849/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1614/90408.jpg");}
a[href*="/34280/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/86828.jpg");}
a[href*="/34104/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/85914.jpg");}
a[href*="/33263/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/81588.jpg");}
a[href*="/34577/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/90089.jpg");}
a[href*="/31704/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/76392.jpg");}
a[href*="/35298/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/89876.jpg");}
a[href*="/34612/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1961/91383.jpg");}
a[href*="/36397/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/88806.jpg");}
a[href*="/36949/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1337/91798.jpg");}
a[href*="/35044/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1355/92801.jpg");}
a[href*="/34522/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/87732.jpg");}
a[href*="/35968/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1545/90922.jpg");}
a[href*="/35220/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/86678.jpg");}
a[href*="/35028/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/88511.jpg");}
a[href*="/36225/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/87885.jpg");}
a[href*="/35238/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/85651.jpg");}
a[href*="/36721/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/88786.jpg");}
a[href*="/36876/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/89221.jpg");}
a[href*="/35512/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/86162.jpg");}
a[href*="/35558/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/87591.jpg");}
a[href*="/34638/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/84423.jpg");}
a[href*="/32864/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/78776.jpg");}
a[href*="/36033/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/87102.jpg");}
a[href*="/36256/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1716/91063.jpg");}
a[href*="/34246/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/82462.jpg");}
a[href*="/35343/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/85125.jpg");}
a[href*="/36849/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/89132.jpg");}
a[href*="/33768/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/83033.jpg");}
a[href*="/30891/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/74310.jpg");}
a[href*="/33291/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/80769.jpg");}
a[href*="/36737/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/88834.jpg");}
a[href*="/35446/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/85444.jpg");}
a[href*="/36122/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/88510.jpg");}
a[href*="/34388/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/84455.jpg");}
a[href*="/34399/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/82884.jpg");}
a[href*="/35499/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/85866.jpg");}
a[href*="/35029/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/88080.jpg");}
a[href*="/36720/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1406/91062.jpg");}
a[href*="/34895/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/84216.jpg");}
a[href*="/37869/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1306/92896.jpg");}
a[href*="/10490/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/31649.jpg");}
a[href*="/36560/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/88359.jpg");}
a[href*="/37347/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1188/90658.jpg");}
a[href*="/30484/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1031/90444.jpg");}
a[href*="/36511/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1812/90955.jpg");}
a[href*="/36475/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1114/91791.jpg");}
a[href*="/36563/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1427/91055.jpg");}
a[href*="/34281/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1538/90962.jpg");}
a[href*="/36296/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1943/91370.jpg");}
a[href*="/36023/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1797/91801.jpg");}
a[href*="/36470/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1446/91841.jpg");}
a[href*="/35928/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1598/90817.jpg");}
a[href*="/36266/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1456/90843.jpg");}
a[href*="/36028/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1145/90880.jpg");}
a[href*="/36902/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1439/91893.jpg");}
a[href*="/36828/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1162/92032.jpg");}
a[href*="/31931/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1033/92011.jpg");}
a[href*="/31433/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1571/91315.jpg");}
a[href*="/35249/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1683/91888.jpg");}
a[href*="/36754/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1554/90270.jpg");}
a[href*="/33889/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1835/91306.jpg");}
a[href*="/36652/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1184/90334.jpg");}
a[href*="/33352/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1329/90618.jpg");}
a[href*="/35073/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/89562.jpg");}
a[href*="/34382/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/89985.jpg");}
a[href*="/34497/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/88911.jpg");}
a[href*="/35860/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/89990.jpg");}
a[href*="/35839/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/89879.jpg");}
a[href*="/34798/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/89877.jpg");}
a[href*="/34984/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1271/90136.jpg");}
a[href*="/35330/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/88816.jpg");}
a[href*="/36548/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/89987.jpg");}
a[href*="/34279/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/89883.jpg");}
a[href*="/33047/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1122/90836.jpg");}
a[href*="/35889/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1718/91097.jpg");}
a[href*="/34964/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/90087.jpg");}
a[href*="/35905/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/89979.jpg");}
a[href*="/36049/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1649/90141.jpg");}
a[href*="/33354/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1467/90338.jpg");}
a[href*="/35222/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/89978.jpg");}
a[href*="/36124/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/88366.jpg");}
a[href*="/36838/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/89603.jpg");}
a[href*="/35828/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1213/91087.jpg");}
a[href*="/35078/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/89984.jpg");}
a[href*="/35589/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/89885.jpg");}
a[href*="/35540/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/89982.jpg");}
a[href*="/36094/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1250/91694.jpg");}
a[href*="/35997/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/90088.jpg");}
a[href*="/35757/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/86476.jpg");}
a[href*="/36847/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/89129.jpg");}
a[href*="/34839/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/89890.jpg");}
a[href*="/35789/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/88489.jpg");}
a[href*="/35964/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/88384.jpg");}
a[href*="/36840/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/89091.jpg");}
a[href*="/34863/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/89579.jpg");}
a[href*="/33899/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1390/90828.jpg");}
a[href*="/36029/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/88796.jpg");}
a[href*="/35988/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/87462.jpg");}
a[href*="/36522/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1328/90485.jpg");}
a[href*="/36593/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/89854.jpg");}
a[href*="/36784/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/88930.jpg");}
a[href*="/36196/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/89222.jpg");}
a[href*="/36797/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/88981.jpg");}
a[href*="/36728/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/88812.jpg");}
a[href*="/21/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/6/73245.jpg");}
a[href*="/35062/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/88476.jpg");}
a[href*="/30694/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/74606.jpg");}
a[href*="/34572/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1290/91195.jpg");}
a[href*="/34566/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/84460.jpg");}
a[href*="/235/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/75199.jpg");}
a[href*="/35180/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1959/92119.jpg");}
a[href*="/36144/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/88236.jpg");}
/*
a[href*="//"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/.jpg");}
*/