a[href*="/36793/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1806/90190.jpg");}
a[href*="/36516/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1986/90184.jpg");}
a[href*="/36456/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1319/92084.jpg");}
a[href*="/35756/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1207/91794.jpg");}
a[href*="/35849/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1614/90408.jpg");}
a[href*="/34280/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/86828.jpg");}
a[href*="/34104/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/85914.jpg");}
a[href*="/33263/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/81588.jpg");}
a[href*="/34577/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/90089.jpg");}
a[href*="/31704/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/76392.jpg");}
a[href*="/35298/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/89876.jpg");}
a[href*="/34612/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1961/91383.jpg");}
a[href*="/36397/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/88806.jpg");}
a[href*="/36949/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1337/91798.jpg");}
a[href*="/35044/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1355/92801.jpg");}
a[href*="/34522/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/87732.jpg");}
a[href*="/35968/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1545/90922.jpg");}
a[href*="/35220/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/86678.jpg");}
a[href*="/35028/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/88511.jpg");}
a[href*="/36225/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/87885.jpg");}
a[href*="/35238/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/3/85651.jpg");}
a[href*="/36721/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/88786.jpg");}
a[href*="/36876/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/89221.jpg");}
a[href*="/35512/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/86162.jpg");}
a[href*="/35558/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/87591.jpg");}
a[href*="/34638/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/84423.jpg");}
a[href*="/32864/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/78776.jpg");}
a[href*="/36033/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/87102.jpg");}
a[href*="/36256/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1716/91063.jpg");}
a[href*="/34246/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/82462.jpg");}
a[href*="/35343/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/85125.jpg");}
a[href*="/36849/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/89132.jpg");}
a[href*="/33768/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/83033.jpg");}
a[href*="/30891/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/74310.jpg");}
a[href*="/33291/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/80769.jpg");}
a[href*="/36737/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/88834.jpg");}
a[href*="/35446/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/9/85444.jpg");}
a[href*="/36122/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/13/88510.jpg");}
a[href*="/34388/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/84455.jpg");}
a[href*="/34399/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/82884.jpg");}
a[href*="/35499/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/2/85866.jpg");}
a[href*="/35029/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/88080.jpg");}
a[href*="/36720/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1406/91062.jpg");}
a[href*="/34895/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/84216.jpg");}

/*
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/.jpg");}
*/