a[href*="/36793/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1806/90190.jpg");}
a[href*="/36516/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1986/90184.jpg");}
a[href*="/36456/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1319/92084.jpg");}
a[href*="/35756/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1207/91794.jpg");}
a[href*="/35849/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1614/90408.jpg");}
a[href*="/34280/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/4/86828.jpg");}
a[href*="/34104/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/85914.jpg");}
a[href*="/33263/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/12/81588.jpg");}
a[href*="/34577/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/11/90089.jpg");}
a[href*="/31704/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/8/76392.jpg");}
a[href*="/35298/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/89876.jpg");}
a[href*="/34612/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1961/91383.jpg");}
a[href*="/36397/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/7/88806.jpg");}
a[href*="/36949/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1337/91798.jpg");}
a[href*="/35044/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1355/92801.jpg");}
a[href*="/34522/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/10/87732.jpg");}
a[href*="/35968/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/1545/90922.jpg");}
a[href*="/35220/"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/5/86678.jpg");}

/*
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
a[href*="/ /"]::after {background-image: url("https://myanimelist.cdn-dena.com/images/anime/ .jpg");}
*/