/* Character Setting | Atago Stunning Speedster */
:root{
		--body-bg: url("https://i.imgur.com/4NdtxcA.jpg");
		/* Menu Character */
		--char-img: url("https://i.imgur.com/cFiMxU6.png");
		--char-display: block;
		/* Sort Menu */
		--Sort-img: url("https://i.imgur.com/osYsItT.png");
		--Sort-display: block;
}