/*---------------------------------------------*/
/*-------------- MALGit (0.0.1) --------------*/
/*------ https://github.com/Murakumo-JP -----*/
/*------------------------------------------*/

:root{
   --color-set-1: #010409;
}

.header {
   width: 100%;
   height: 104px;
   background-color: var(--color-set-1);
}