/* Character Setting | Atago Summer March */
:root{
		--body-bg: url("https://i.imgur.com/YHB21DC.jpg");
		/* Menu Character */
		--char-img: url("https://i.imgur.com/yhtoTSX.png");
		--char-display: block;
		/* Sort Menu */
		--Sort-img: url("https://i.imgur.com/pBs9ms9.png");
		--Sort-display: block;
}